.pageBox {
  display: grid;
  place-content: center;
  height: 100vh;
}

.fourOhFourText {
  font-family: "lores-9-plus-wide", monospace;
  font-size: 2.51rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 3px 3px white, 5px 5px #d10000;
  opacity: 0.4;
}

.separator {
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 700;
  font-size: 2.2rem;
  color: white;
  text-shadow: 1px 1px 9px black;
}

@media (max-width: 883px) and (orientation: landscape) {
  .fourOhFourText {
    font-size: 2.4rem;
  }

  .separator {
    font-size: 2.1rem;
  }
}

@media (max-width: 769px) and (orientation: portrait) {
  .fourOhFourText {
    font-size: 2.2rem;
  }

  .separator {
    font-size: 1.9rem;
  }
}

@media (max-width: 761px) and (orientation: landscape) {
  .fourOhFourText {
    font-size: 2.2rem;
  }

  .separator {
    font-size: 1.9rem;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .fourOhFourText {
    font-size: 2rem;
  }

  .separator {
    font-size: 1.7rem;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .fourOhFourText {
    font-size: 1.2rem;
  }

  .separator {
    font-size: 1rem;
  }
}

@media (max-width: 361px) and (orientation: portrait) {
  .fourOhFourText {
    font-size: 1.1rem;
  }

  .separator {
    font-size: 0.8rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .fourOhFourText {
    font-size: 0.9rem;
  }

  .separator {
    font-size: 0.7rem;
  }
}
