@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.top {
  height:65vh;
  background-image:url("../public/images/LineNewSinew.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-size:1rem;
  animation: fadeIn ease-in 0.7s;
}

.iconPlusSitebar {
  display:flex;
  justify-content:space-between;
}

.iconImage {
  background-image:url("../public/images/NewSinewsIcon.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  width:25vw;
  height:35vh;
  margin:12vh 0 0 2vw;
  opacity:0.9;
  cursor:pointer;
}

.siteNav {
  align-self:center;
  display:inline-flex;
  justify-content:flex-end;
  margin-right:11%;
}

.dropDown {
  position:relative;
}

.siteNav > .dropDown > button, .about {
  border:none;
  font-family:"lores-9-plus-narrow", monospace;
  font-size: 0.9rem;
  background-color:#b0b0b0;
  color:snow;
  opacity: 0.8;
  padding:12px 19px;
  border-radius:45px;
  text-transform:lowercase;
  letter-spacing:1.5px;
  cursor:pointer;
  transition:1.2s background-color;
}

.siteNav > .dropDown > button {
  margin-right:3px;
}

.issueContentClosed {
    display: none;
    position: absolute;
    z-index: 99;
    box-shadow: 4px 8px 26px black;
    cursor:pointer;
}

.siteNav > .dropDown > button:hover, .about:hover {
  background-color:black;
  color:white;
}

.issueContentOpen {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  min-width:25vw;
}

.issueContentOpen > button {
  border:4px double #b0b0b0;
  font-family:"lores-9-plus-narrow", monospace;
  font-size: 0.8rem;
  background-color:black;
  color:snow;
  opacity: 0.9;
  padding:6px 16px;
  text-align: left;
  text-transform:lowercase;
  letter-spacing:1.5px;
  cursor:pointer;
  z-index:99;
}

.issueContentOpen > button:hover {
  background-color:snow;
  color:black;
  text-transform: uppercase;
}

.middle {
  width:95vw;
  margin:0 auto;
  margin-top:3%;
  padding-top:4%;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:2px 2px gainsboro;
  line-height:1.7em;
}

.middle > p {
  margin-bottom:6%;
}

.middle > p:first-child {
  margin-bottom:0;
  text-align:center;
}

.middle > p > a {
  text-decoration:none;
  cursor:pointer;
  color:red;
  text-shadow:1px 1px #b0b0b0;
}

.middle > p > a:hover {
  cursor:pointer;
  letter-spacing:2px;
}

.jpegBox1 {
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  margin-top:0;
  padding-bottom:2rem;
  margin:0 auto;
  box-shadow: 3px;
}

.jpegBox1 > img {
  height:50px;
  flex:1 1 0;
  border:2px double #303030;
}

.darkTypeface {
  font-family:"lores-9-plus-wide", monospace;
  font-size:1.8rem;
  font-weight:700;
  text-shadow:1px 1px red;
  text-transform:lowercase;
  line-height:6.4rem;
  letter-spacing:-0.02rem;
}

.jpegBox2 {
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  margin-top:0;
  margin:0 auto;
}

.jpegBox2 > img {
  height:100px;
  flex:1 1 0;
  border:2px solid black;
}

.jpegBox2 > img:nth-of-type(even) {
  border:2px solid #404040;
}

@media (max-width: 991.98px) {

  .top {
    background-position:center;
  }

  .iconPlusSitebar > div {
    width:35vw;
    height:35vh;
    margin-top:9vh;
    margin-left:5vw;
    opacity:0.7;
  }

  .siteNav {
    align-self:center;
    display:inline-flex;
    flex-flow:column wrap;
    justify-content:flex-end;
    margin:4vh 6vw 0 0 ;
  }

  .siteNav > button {
    padding:12px 19px;
    margin-bottom:3.5vh;
    opacity:0.92;
  }

  .bottom {
    margin-top:6vh;
  }


}

@media (max-width: 928px) and (orientation:landscape) {

  .iconPlusSitebar > div {
    width:25vw;
    height:45vh;
    margin-top:8vh;
    margin-left:2vw;
    opacity:0.9;
  }

  .middle {
    width:85vw;
  }

  .siteNav > button {
    padding:3px 9px;
  }


}

@media (max-width: 855px) and (orientation:landscape) {

  .middle {
    width:99vw;
  }


}



@media (max-width: 767.98px) and (orientation:portrait) {

  .top {
    background-position:center;
  }

  .iconPlusSitebar > div {
    width:35vw;
    height:35vh;
    margin-top:9vh;
    margin-left:5vw;
    opacity:0.7;
  }

  .siteNav {
    align-self:center;
    display:inline-flex;
    flex-flow:column wrap;
    justify-content:flex-end;
    margin:3vh 12vw 0 0 ;
  }

  .siteNav > button {
    padding:4.5px 8px;
    margin-bottom:5vh;
    cursor:pointer;
    opacity:0.95;
  }

  .bottom {
    margin-top:6vh;
  }

 }

 @media (max-width: 741px) and (orientation:landscape) {

   .darkTypeface {
     font-size:1.5rem;
   }


 }

 @media (max-width: 688px) {

   .darkTypeface {
     font-size:1.6rem;
   }

  }

  @media (max-width: 654px) and (orientation:landscape) {

    .darkTypeface {
      font-size:1.5rem;
    }

   }

 @media (max-width: 290px) and (orientation:portrait) {

   .middle {
     font-size:1rem;
   }

  }
