@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top {
  height: 65vh;
  background-image: url("../public/images/LineNewSinew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1rem;
  animation: fadeIn ease-in 0.7s;
}

.iconPlusSitebar {
  display: flex;
  justify-content: space-between;
}

.iconImage {
  background-image: url("../public/images/newSinewsIcon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25vw;
  height: 35vh;
  margin: 12vh 0 0 2vw;
  opacity: 0.9;
  cursor: pointer;
  transition: 2s opacity;
}

.iconImage:hover {
  opacity: 0.1;
}

.siteNav {
  align-self: center;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 4%;
}

.dropDown {
  position: relative;
}

.siteNav > .dropDown > button,
.home,
.about {
  border: none;
  font-family: "lores-9-plus-narrow", monospace;
  font-size: 0.9rem;
  background-color: #b0b0b0;
  color: snow;
  opacity: 0.8;
  padding: 12px 13px;
  border-radius: 45px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 1.2s background-color;
}

.siteNav > .dropDown > button,
.home {
  margin-right: 5px;
}

.issueContentClosed {
  display: none;
  position: absolute;
  z-index: 99;
  box-shadow: 4px 8px 26px black;
  cursor: pointer;
}

.siteNav > .dropDown > button:hover,
.home:hover,
.about:hover {
  background-color: black;
  color: white;
}

.issueContentOpen {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  min-width: 25vw;
}

.issueContentOpen > button {
  border: 4px double #b0b0b0;
  font-family: "lores-9-plus-narrow", monospace;
  font-size: 0.8rem;
  background-color: black;
  color: snow;
  opacity: 0.9;
  padding: 6px 16px;
  text-align: left;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  z-index: 99;
}

.issueContentOpen > button:hover {
  background-color: snow;
  color: black;
  text-transform: uppercase;
}

.middle {
  width: 95vw;
  margin: 0 auto;
  margin-top: 3%;
  padding-top: 4%;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 2px 2px gainsboro;
  line-height: 1.7em;
  animation: fadeIn ease-in 1.7s;
}

.middle > p {
  margin-bottom: 3%;
}

.middle > p:first-child {
  margin-bottom: 0;
  text-align: center;
}

.middle > p > a {
  text-decoration: none;
  cursor: pointer;
  color: red;
  text-shadow: 1px 1px #b0b0b0;
}

.middle > p > a:hover {
  cursor: pointer;
  letter-spacing: 2px;
}

.darkTypeface {
  font-family: "lores-9-plus-wide", monospace;
  font-size: 1.8rem;
  font-weight: 700;
  text-shadow: 1px 1px red;
  text-transform: lowercase;
  line-height: 6.4rem;
  letter-spacing: -0.02rem;
}

.separator {
  height: 1vh;
}

@media (width: 1368px) and (height: 912px) {
  .siteNav > .dropDown > button,
  .home {
    font-size: 0.87rem;
  }
}

@media (width: 1366px) and (height: 1024px) {
  .siteNav > .dropDown > button,
  .home {
    font-size: 0.67rem;
  }
}

@media (width: 1280px) and (height: 800px) {
  .siteNav > .dropDown > button,
  .home {
    font-size: 0.75rem;
  }
}

@media (width: 1194px) and (height: 834px) {
  .siteNav > .dropDown > button,
  .home {
    font-size: 0.67rem;
  }
}

@media (width: 1180px) and (height: 820px) {
  .siteNav > .dropDown > button,
  .home {
    padding: 11px 6px;
    opacity: 0.9;
  }

  .siteNav > .dropDown > button {
    margin-right: 15px;
  }
}

@media (width: 1080px) and (height: 810px) {
  .siteNav > .dropDown > button,
  .home {
    padding: 16px 9px;
    font-size: 0.67rem;
    opacity: 0.9;
  }

  .siteNav > .dropDown > button {
    margin-right: 15px;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .iconImage {
    width: 20vw;
    height: 20vh;
    margin-top: 9vh;
    margin-left: 2vw;
    opacity: 0.7;
  }

  .siteNav {
    align-self: center;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 2%;
  }

  .siteNav > .dropDown > button,
  .home {
    font-size: 0.6rem;
  }
}

@media (width: 1024px) and (height: 768px) {
  .siteNav > .dropDown > button,
  .home {
    font-size: 0.84rem;
    padding: 9px 5px;
    opacity: 0.9;
  }
}

@media (width: 1024px) and (height: 600px) {
  .siteNav > .dropDown > button,
  .home {
    font-size: 0.79rem;
    padding: 9px 5px;
    opacity: 0.9;
  }
}

@media (max-width: 991.98px) {
  .top {
    background-position: center;
  }

  .iconPlusSitebar > div {
    width: 35vw;
    height: 35vh;
    margin-top: 9vh;
    margin-left: 5vw;
    opacity: 0.7;
  }

  .siteNav {
    align-self: center;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin: 6vh 6vw 0 0;
  }

  .siteNav > .dropDown > button,
  .home {
    width: 6rem;
    font-size: 0.8rem;
    margin-bottom: 2vh;
    opacity: 0.9;
  }

  .issueContentOpen {
    display: none;
  }

  .bottom {
    margin-top: 6vh;
  }
}

@media (max-width: 928px) and (orientation: landscape) {
  .iconPlusSitebar > div {
    width: 25vw;
    height: 45vh;
    margin-top: 8vh;
    margin-left: 2vw;
    opacity: 0.9;
  }

  .middle {
    width: 85vw;
  }

  .siteNav > .dropDown > button,
  .home {
    padding: 6px 11px;
    width: 6.9rem;
    font-size: 0.7rem;
    opacity: 0.93;
  }
}

@media (max-width: 855px) and (orientation: landscape) {
  .middle {
    width: 99vw;
  }

  .siteNav > .dropDown > button,
  .home {
    width: 7rem;
    font-size: 0.6rem;
  }
}

@media (max-width: 801px) and (orientation: landscape) {
  .darkTypeface {
    font-size: 1.5rem;
  }

  .siteNav > .dropDown > button,
  .home {
    font-size: 0.6rem;
  }
}

@media (max-width: 741px) and (orientation: landscape) {
  .darkTypeface {
    font-size: 1.5rem;
  }

  .siteNav > .dropDown > button,
  .home {
    padding: 5px 3px;
  }
}

@media (max-width: 688px) {
  .darkTypeface {
    font-size: 1.6rem;
  }
}

@media (max-width: 654px) and (orientation: landscape) {
  .darkTypeface {
    font-size: 1.5rem;
  }
}

@media (max-width: 290px) and (orientation: portrait) {
  .siteNav > .dropDown > button,
  .home {
    width: 5.3rem;
    font-size: 0.6rem;
    padding: 5px 9px;
    margin-bottom: 4vh;
  }

  .middle {
    font-size: 1rem;
  }
}
