.titleShadow {
  text-shadow:2px 2px snow,
              4px 4px black;
}

.inverseShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.titleShadowUppercase {
  text-shadow:2px 2px snow,
              4px 4px black;
  text-transform:uppercase;
}

.inverseShadowUppercase {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  text-transform:uppercase;
}

.bigSeparator {
  font-size:6rem;
  opacity:0.5;
}


.dataBlood {
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  text-align:right;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-right:6rem;
}

.zeroProgress {
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  text-align:left;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-left:6rem;
}
