.grayShadow {
  font-size:2rem;
  color:black;
  text-shadow:2px 2px white,
              4px 4px 4px #E8E8E8;
}

.grayShadowUpper {
  color:gainsboro;
  text-shadow:2px 2px white,
              4px 4px 4px #E8E8E8;
  text-transform: uppercase;
}

.silverShadow {
  color:white;
  text-shadow:2px 2px black,
              4px 4px 12px silver;
}

.silverShadowUpper {
  color:white;
  text-shadow:2px 2px black,
              4px 4px 12px silver;
  text-transform: uppercase;
}

.inverse {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px 12px #b0b0b0;
}

.inverseUpper {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px 12px #b0b0b0;
  text-transform: uppercase;
}

.leftMarginPusher {
  margin-left:25vw;
  letter-spacing:0.5rem;
}

.leftMarginPusherTwo {
  margin-left:5vw;
  letter-spacing:0.75rem;
}

.grayShadowProse {
  font-size:1.8rem;
  color:white;
  font-family:"lores-9-plus-wide", monospace;
  text-shadow:1px 1px silver,
              4px 4px 16px black;
}

.grayShadowTwo {
  font-size:1.8rem;
  color:white;
  font-family:"lores-9-plus-wide", monospace;
  text-shadow:1px 1px silver,
              4px 4px 16px black;
  line-height: 3rem;
}

.compactProse {
  max-width:55vw;
  margin-left:5vw;
  font-size:1rem;
  line-height:1.2rem;
}
