.biosExternalLink {
  text-decoration: none;
  color: #aaf0d1;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 1px black, 2px 2px #b0b0b0;
  cursor: pointer;
}

.biosExternalLink:hover {
  cursor: pointer;
  letter-spacing: 5px;
}

.biosExternalLinkSpecial {
  text-decoration: none;
  color: #aaf0d1;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 1px black, 2px 2px #b0b0b0;
  cursor: pointer;
}

.biosExternalLinkSpecial:hover {
  cursor: pointer;
  letter-spacing: 5px;
}

.grayInverse {
  font-size: 1.7rem;
  color: #b0b0b0;
  text-shadow: 1px 1px black;
}

.magicMint {
  color: #aaf0d1;
}

@media (max-width: 991.98px) {
  .standardProse {
    max-width: 90vw;
  }
}

@media (max-width: 927px) and (orientation: landscape) {
  .topMargin {
    display:inline-block;
    margin-top:15vh;
  }
}

@media (max-width: 659px) and (orientation: landscape) {
  .topMargin {
    display:inline-block;
    margin-top:18vh;
  }
}

@media (max-width: 429px) and (orientation: portrait) {
  .biosExternalLinkSpecial {
    font-size: 0.8rem;
  }
}
