.biosExternalLink {
  text-decoration:none;
  color:red;
  text-shadow:1px 1px #b0b0b0;
}

.biosExternalLink:hover {
  cursor:pointer;
  letter-spacing:2px;
}

.grayInverse {
  color:#b0b0b0;
  text-shadow:1px 1px black;
}

@media (max-width: 991.98px) {

  .standardProse {
    max-width:90vw;
  }
}

@media (max-width: 767.98px) {

  .standardProse {
    max-width:90vw;
  }

 }
