.titleSkew {
    display: inline-block;
    margin-top:-6vh;
    transform: skew(9deg, -1.4deg);
}

.titleShadow {
    color: white;
    font-size: 3.3rem;
    text-shadow: 1px 1px black, 4px 4px 16px black;
    text-transform: uppercase;
    opacity: 0.6;
    letter-spacing: 2rem;
  }
  
  .inverseShadow {
    font-size: 4.1rem;
    color: black;
    text-shadow: 4px 4px snow, 6px 6px 16px dimgray;
  }
  
  .inverseShadowAlternate {
    font-size: 4.1rem;
    color: black;
    text-shadow: 4px 4px snow, 5px 5px black, 6px 6px gainsboro;
    opacity: 0.8;
    text-transform: uppercase;
  }
  
  .mintAlternate {
    font-size: 4.1rem;
    color: #aaf0d1;
    text-shadow: 4px 4px snow, 5px 5px 15px black;
    opacity: 0.6;
    text-transform: uppercase;
  }
  
  .alternateCursive {
    font-family: "bickham-script-pro-3", sans-serif;
    font-size: 9.3rem;
    color: black;
    text-shadow: 4px 4px snow, 8px 8px gainsboro;
  }

  .nameSpacing {
    letter-spacing: -0.3rem;
  }

  .uppercase {
    text-transform: uppercase;
  }
  
  @media (max-width: 932px) and (orientation: landscape) {
    .compactProse,
    .compactProseTwo {
      max-width: 95vw;
      margin-left: 2.5vw;
    }
  
    .box {
      max-width: 55vw;
      margin-left: 15.5vw;
    }
  }
  
  @media (max-width: 913px) and (orientation: portrait) {
    .compactProse,
    .compactProseTwo {
      max-width: 95vw;
      margin-left: 2.5vw;
    }
  
    .box {
      max-width: 95vw;
      margin-left: 1.5vw;
    }
  }
  
  @media (max-width: 897px) and (orientation: landscape) {
    .box {
      margin-left: 17.5vw;
    }
  }
  
  @media (max-width: 541px) and (orientation: portrait) {
    .titleShadow,
    .inverseShadow,
    .inverseShadowAlternate,
    .mintAlternate,
    .mintAlternateTwo {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 361px) and (orientation: portrait) {
    .titleShadow,
    .inverseShadow,
    .inverseShadowAlternate,
    .mintAlternate,
    .mintAlternateTwo {
      font-size: 2.1rem;
    }
  }
  
  @media (max-width: 321px) and (orientation: portrait) {
    .titleShadow,
    .inverseShadow,
    .inverseShadowAlternate,
    .mintAlternate,
    .mintAlternateTwo {
      font-size: 2rem;
    }
  
    .box {
      font-size: 1rem;
      margin-left: 0.5vw;
    }
  }
  
  @media (max-width: 281px) and (orientation: portrait) {
    .titleShadow,
    .inverseShadow,
    .inverseShadowAlternate,
    .mintAlternate,
    .mintAlternateTwo {
      font-size: 1.7rem;
    }
  }
  