.carousel {
  position:relative;
  display:flex;
  justify-content:center;
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  width:90%;
  height:70vh;
  margin-top:15vh;
}

.carouselInner {
  width:100%;
  height:100%;
}
