.carousel {
  display:flex;
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  width:60vw;
  height:70vh;
  margin-top:15vh;
}

.carouselInner {
  width:100%;
  height:100%;
}

.prev, .next {
  color:white;
}
