.title {
  font-family: "ubuntu", monospace;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
  white-space: pre-line;
}

.grayShadow {
  font-family: "lores-9-plus-wide", monospace;
  text-shadow: 1px 1px snow, 2px 2px #b0b0b0;
  font-style: italic;
}

.sectionBreak {
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 700;
  font-size: 4.2rem;
  color: white;
  text-shadow: 1px 1px 6px #d10000;
  text-align: center;
}

.compactProse {
  max-width: 45vw;
  margin-left: 12.5vw;
  font-size: 1rem;
  line-height: 1.2rem;
}

@media (max-width: 431px) and (orientation: portrait) {
  .title {
    font-size: 1.1rem;
  }
}

@media (max-width: 385px) and (orientation: portrait) {
  .title {
    font-size: 1rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .title {
    font-size: 0.78rem;
  }

  .compactProse {
    margin-left: 1.5vw;
  }
}
