.centerGrayTitle {
  font-family:"lores-9-plus-wide-bold-alt";
  color:#b0b0b0;
  font-size:2.7rem;
  text-shadow:2px 2px snow,
              4px 4px #b0b0b0;
  font-weight:400;
  text-align:center;
  text-transform:lowercase;
  margin: 14vh 0 14vh 0;
}

@media (max-width: 320px) {

  .centerGrayTitle {
    font-size:2rem;
  }

 }
