.title {
  font-family:"lores-9-plus-wide-bold-alt";
  color:#b0b0b0;
  font-size:3.1rem;
  text-shadow:2px 2px snow,
              4px 4px #b0b0b0;
  font-weight:400;
  text-align:left;
  margin: 14vh 0 14vh 7vw;
}

.titleShadow {
  text-shadow:2px 2px snow,
              4px 4px black;
  margin-left:8px;
}


.inverseTitleShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  margin-left:5px;
}

.lineation {
  margin-left:20vw;
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  letter-spacing:-0.02rem;
  line-height:1.4em;
}

@media (max-width: 767.98px) {

.title {
    font-size:2rem;
  }

  .lineation {
    margin-left: 0;
    font-size:0.9rem;
    white-space: pre-wrap;
  }

 }
