.title {
  font-family:"lores-9-plus-wide-bold-alt", monospace;
  color:#b0b0b0;
  font-size:3.1rem;
  text-shadow:2px 2px snow,
              4px 4px #b0b0b0;
  font-weight:400;
  text-align:left;
  margin: 14vh 0 14vh 7vw;
}

.titleShadow {
  text-shadow:2px 2px snow,
              4px 4px black;
  margin-left:8px;
}


.inverseTitleShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  margin-left:5px;
}

.lineation {
  margin-left:20vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:2px 2px gainsboro;
  letter-spacing:-0.02rem;
  line-height:1.7em;
}

@media (min-width:1020px) and (max-width: 1080px) and (orientation:landscape){

  .lineation {
    max-width:90vw;
    font-size:1.5rem;
  }
}

@media (max-width: 991.98px) {

  .standardProse {
    max-width:90vw;
  }
}

@media (max-width: 767.98px) {

.title {
    font-size:2rem;
  }

  .lineation {
    margin-left: 1vw;
    font-size:1rem;
    white-space: pre-line;
  }

 }


 @media (max-width: 361px) and (orientation:portrait) {

 .title {
     font-size:1.5rem;
   }

  }
