.titleShadow {
  text-shadow:2px 2px snow,
              4px 4px black;
}

.titleShadowUppercase {
  text-shadow:2px 2px snow,
              4px 4px black;
  text-transform:uppercase;
}


.inverseTitleShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.inverseTitleShadowUppercase {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  text-transform:uppercase;
}
