.duskShadow {
  font-style:italic;
  text-shadow:2px 2px snow,
              4px 4px 8px #aaf0d1;
}

.inverse {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #aaf0d1;
}

.duskShadowUpper {
  font-style:italic;
  text-shadow:2px 2px black,
              4px 4px 12px silver;
  text-transform: uppercase;
}

.inverseUpper {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px 12px #b0b0b0;
                text-transform: uppercase;
}

.poemTitleContainer {
  max-width:70vw;
  font-size:2rem;
  font-family:"lores-9-plus-wide", monospace;
  text-shadow:1px 1px snow,
              8px 8px #aaf0d1;
  text-align:right;
  margin-left:22vw;
}

.poem {
  max-width:70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:2px 2px gainsboro;
  letter-spacing:-0.02rem;
  line-height:1.7em;
  margin-left:8vw;
}
