.titleShadow {
  font-size: 2.6rem;
  color: snow;
  text-shadow: 2px 2px black, 4px 4px #aaf0d1, 6px 6px black, 8px 8px white,
    10px 10px black, 12px 12px 26px black;
  letter-spacing: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.nameShadow {
  font-size: 3.7rem;
  color: snow;
  text-shadow: 2px 2px black, 5px 5px black, 7px 8px white,
    15px 16px 17px #aaf0d1;
  letter-spacing: 3rem;
}

.nameShadowUppercase {
  display: inline-block;
  font-size: 3.7rem;
  color: snow;
  text-shadow: 2px 2px black, 5px 5px black, 7px 8px white,
    15px 16px 17px #aaf0d1;
  letter-spacing: 3rem;
  text-transform: uppercase;
  transform: rotate(-12deg);
}

.inverseNameShadow {
  font-size: 4.1rem;
  color: snow;
  text-shadow: 1px 1px black, 5px 5px #aaf0d1, 7px 9px black;
  text-transform: uppercase;
}

.specialCursive {
  font-size: 8rem;
  font-family: "bickham-script-pro-3", sans-serif;
  font-weight: 300;
}

.nameShadowSpecial {
  font-size: 3.7rem;
  color: snow;
  text-shadow: 2px 2px black, 5px 5px black, 7px 8px white,
    15px 16px 17px #aaf0d1;
  letter-spacing: 2rem;
}

.rightMargin {
  display: inline-block;
  margin-right: 3vw;
}

.poem {
  max-width: 70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 2px 2px gainsboro;
  letter-spacing: -0.02rem;
  line-height: 2.7em;
  margin-left: 23vw;
}

.poemTwo {
  max-width: 70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 2px 2px gainsboro;
  letter-spacing: -0.02rem;
  line-height: 2.7em;
  margin-left: 46vw;
}

.poemThree {
  max-width: 70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 2px 2px gainsboro;
  letter-spacing: -0.02rem;
  line-height: 2.7em;
  margin-left: 12vw;
}

.poemFour {
    max-width: 70vw;
    font-family: "base-9-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    text-shadow: 2px 2px gainsboro;
    letter-spacing: -0.02rem;
    line-height: 2.7em;
    margin-left: 62vw;
  }

  @media (width: 1024px) and (height: 1366px) {
    .poem {
        margin-left: 6vw;
    }

    .poemTwo {
        margin-left:18vw;
    }

    .poemThree {
        margin-left:32vw;
    }

    .poemFour {
        margin-left:44vw;
    }
  }

  @media (width: 1024px) and (height: 768px) {
    .poem {
        margin-left: 6vw;
    }

    .poemTwo {
        margin-left:18vw;
    }

    .poemThree {
        margin-left:32vw;
    }

    .poemFour {
        margin-left:44vw;
    }
  }
  
  @media (width: 1024px) and (height: 600px) {
    .poem {
        margin-left: 6vw;
    }

    .poemTwo {
        margin-left:18vw;
    }

    .poemThree {
        margin-left:32vw;
    }

    .poemFour {
        margin-left:44vw;
    }
  }
  

  @media (max-width: 933px) and (orientation: landscape) {

    .poem {
        margin-left: 6vw;
    }

    .poemTwo {
        margin-left:18vw;
    }

    .poemThree {
        margin-left:32vw;
    }

    .poemFour {
        margin-left:44vw;
    }
  }

  @media (max-width: 913px) and (orientation: portrait) {
    .poem {
        margin-left: 6vw;
    }

    .poemTwo {
        margin-left:18vw;
    }

    .poemThree {
        margin-left:30vw;
    }

    .poemFour {
        margin-left:42vw;
    }
  }

  @media (max-width: 761px) and (orientation: landscape) {

    .poemThree {
        margin-left:25vw;
    }

    .poemFour {
        margin-left:30vw;
    }
  }

  @media (max-width: 541px) and (orientation: portrait) {

    .nameHeight {
        line-height:3rem;
    }

    .poem, .poemTwo, .poemThree, .poemFour {
        margin-left: 2vw;
        font-size: 1rem;

    }
  }

  @media (max-width: 391px) and (orientation: portrait) {
    .poem, .poemTwo, .poemThree, .poemFour {
        margin-left: 1vw;
        font-size: 0.9rem;

    }
  }

  @media (max-width: 321px) and (orientation: portrait) {
    .poem, .poemTwo, .poemThree, .poemFour {
        font-size: 0.78rem;

    }
  }

  @media (max-width: 281px) and (orientation: portrait) {
    .poem, .poemTwo, .poemThree, .poemFour {
        font-size: 0.7rem;

    }
  }