.poem {
  display:grid;
  grid-template-rows: 1fr;
  margin:2% 15%;
  max-width:70%;
}

.leftJustified, .standardLineation {
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  letter-spacing:-0.02rem;
  line-height:1.4em;
}

.polyphony {
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  font-style:italic;
}

.rightJustified {
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-top:7%;
  text-align:right;
}

.centerJustified {
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-top:7%;
  margin-top:7%;
  margin-bottom:7%;
  text-align:center;
}

.compositionTitle:nth-of-type(2) {
  margin-top:7%;
}

@media (max-width: 991.98px) {
.leftJustified, .standardLineation, .rightJustified, .centerJustified, .polyphony {
  font-size:1rem;
}

}
