.titleShadow {
  display: inline-block;
  font-size: 3.3rem;
  text-shadow: 5px 5px snow, 10px 10px #00ffff, 14px 14px gainsboro;
  letter-spacing: 2.8rem;
  line-height: 5rem;
}

.fade {
  opacity: 0.3;
}

.fadeUpper {
  font-size: 3.3rem;
  text-transform: uppercase;
  opacity: 0.3;
}

.uppercase {
  text-transform: uppercase;
}

.moreSpace {
  letter-spacing: 2.2rem;
}

.moreMoreSpace {
  letter-spacing: 4.4rem;
}

.moreMoreMoreSpace {
  letter-spacing: 6.6rem;
}

.moreMoreMoreMoreSpace {
  letter-spacing: 11rem;
}

.specialCursiveOne {
  font-size: 6.1rem;
  font-family: "bickham-script-pro-3", sans-serif;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2.02rem;
  line-height: 0.8em;
  color: white;
  text-shadow: 2px 2px 4px black, 3px 4px 8px #00ffff;
}

.specialCursiveTwo {
  font-size: 9.1rem;
  font-family: "bickham-script-pro-3", sans-serif;
  font-weight: 400;
  text-align: right;
  text-transform: lowercase;
  letter-spacing: 5.02rem;
  line-height: 0.8em;
  color: white;
  text-shadow: 2px 2px 4px black, 3px 4px 8px #00ffff;
}

.authorName {
  font-size: 6.1rem;
  font-family: "bickham-script-pro-3", sans-serif;
  font-weight: 400;
  text-align: right;
  text-transform: lowercase;
  letter-spacing: 1.02rem;
  line-height: 0.8em;
  margin: 1vh 0 7vh 0;
  color: white;
  text-shadow: 2px 2px 4px black, 3px 4px 8px #00ffff;
}

.ellipses {
  letter-spacing: 3rem;
}

.sectionTitle {
  max-width: 70vw;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2.9rem;
  text-shadow: 5px 5px snow, 10px 10px #00ffff, 14px 14px gainsboro;
  letter-spacing: 0.3rem;
  line-height: 1.4em;
  margin-left: 8vw;
  text-transform: uppercase;
}

@media (width: 1080px) and (height: 810px) {
  .titleShadow {
    font-size: 2.7rem;
  }

  .authorName {
    font-size: 5.1rem;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .titleShadow {
    font-size: 2.8rem;
  }

  .authorName {
    font-size: 5.1rem;
  }
}

@media (width: 1024px) and (height: 768px) {
  .titleShadow {
    font-size: 2.9rem;
  }

  .authorName {
    font-size: 5.1rem;
  }
}

@media (width: 1024px) and (height: 600px) {
  .titleShadow {
    font-size: 2.9rem;
  }

  .authorName {
    font-size: 5.1rem;
  }
}

@media (max-width: 933px) and (orientation: landscape) {
  .titleShadow {
    font-size: 2.7rem;
  }

  .moreSpace,
  .moreMoreSpace,
  .moreMoreMoreSpace,
  .moreMoreMoreMoreSpace,
  .specialCursiveOne,
  .specialCursiveTwo {
    letter-spacing: 2.5rem;
  }

  .authorName {
    font-size: 5.1rem;
  }
}

@media (max-width: 913px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2.5rem;
  }

  .authorName {
    font-size: 5.1rem;
  }

  .moreSpace {
    letter-spacing: 1.2rem;
  }
}

@media (max-width: 896px) and (orientation: landscape) {
  .titleShadow {
    font-size: 2.5rem;
  }
}

@media (max-width: 835px) and (orientation: portrait) {
  .titleShadow {
    font-size: 3.2rem;
  }

  .moreSpace,
  .moreMoreSpace,
  .moreMoreMoreSpace,
  .moreMoreMoreMoreSpace,
  .specialCursiveOne,
  .specialCursiveTwo {
    letter-spacing: 1.5rem;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .titleShadow {
    font-size: 2.4rem;
  }

  .authorName {
    font-size: 4.1rem;
  }
}

@media (max-width: 746px) and (orientation: landscape) {
  .titleShadow {
    font-size: 1.9rem;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .titleShadow {
    font-size: 2.5rem;
  }

  .moreSpace,
  .moreMoreSpace,
  .moreMoreMoreSpace,
  .moreMoreMoreMoreSpace,
  .specialCursiveOne,
  .specialCursiveTwo {
    letter-spacing: 1.5rem;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2.2rem;
    letter-spacing: 0;
  }

  .moreSpace,
  .moreMoreSpace,
  .moreMoreMoreSpace,
  .moreMoreMoreMoreSpace,
  .specialCursiveOne,
  .specialCursiveTwo {
    letter-spacing: 0.5rem;
  }

  .authorName,
  .ellipses {
    letter-spacing: 0.4rem;
  }

  .sectionTitle {
    max-width: 70vw;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-left: 1vw;
  }
}

@media (max-width: 394px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2rem;
  }
}

@media (max-width: 385px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.8rem;
  }

  .sectionTitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 376px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.3rem;
  }

  .specialCursiveOne,
  .specialCursiveTwo {
    font-size: 3.6rem;
  }

  .authorName,
  .ellipses {
    letter-spacing: 0.2rem;
  }

  .sectionTitle {
    font-size: 1.6rem;
  }
}

@media (max-width: 345px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.7rem;
  }
}
