.socialLinkFooter {
  position:relative;
  z-index:6;
  height:18vh;
  margin-top:22vh;
  display:grid;
  place-items:center;
  font-size:1.7rem;

}

.socialLinkFooter > a {
  color:#b0b0b0;
  opacity: 1;
  font-family:"lores-9-plus-wide";
  text-decoration:none;
  letter-spacing:0.09em;
  text-shadow:1px 1px black;
}

.socialLinkTag:visited {
  text-decoration:none;
}

.blueText {
  color:#2cbae7;
}

.socialLinkFooter > a:hover {
  cursor:pointer;
  color:#b0b0b0;
  text-shadow:2px 2px snow, 5px 5px black;
  letter-spacing:0.2rem;
}

@media (max-width: 376px) and (orientation:portrait) {

  .socialLinkFooter {
    font-size:1.2rem;

  }

 }
