.centeringContainer {
  display:grid;
  place-items:center;
  max-width:90%;
}

.galleryProse {
  max-width:80%;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  margin:0 auto;
  text-shadow:2px 2px gainsboro;
  letter-spacing:0.04rem;
  line-height:1.7em;
}

@media (max-width:429px) and (orientation:portrait) {
  .galleryProse {
    max-width:90%;
    font-size:1rem;
  }
}
