.titleShadow {
  display: inline-block;
  font-size: 4.3rem;
  color: black;
  text-shadow: 2px 2px snow, 6px 6px #00ffff;
  letter-spacing: -0.1rem;
  line-height:5rem;
}

.titleShadowTwo {
  display: inline-block;
  font-size: 4.3rem;
  color: black;
  text-shadow: 2px 2px snow, 6px 6px #00ffff;
  letter-spacing: -0.1rem;
  line-height:1rem;
}


.inverseShadow {
  color: snow;
  text-shadow: 1px 1px black, 5px 5px #00ffff, 7px 9px black;
}

.titleShadowUppercase {
  color: black;
  text-shadow: 2px 2px snow, 4px 4px #b0b0b0;
  text-transform: uppercase;
}

.inverseShadowUppercase {
  color: snow;
  text-shadow: 1px 1px black, 3px 5px #00ffff, 7px 9px black;
  text-transform: uppercase;
}

.extraMarginOne {
  margin-left: 3vw;
}

.extraMarginTwo {
  margin-left: 7.5vw;
}

.boxSpacing {
    letter-spacing: 1rem;
}

.poem {
  max-width: 70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 2px 2px gainsboro;
  letter-spacing: -0.02rem;
  line-height: 1.7em;
  margin-left: 23vw;
}

@media (max-width: 933px) and (orientation: landscape) {
  .titleShadow {
    font-size: 3.8rem;
  }
}

@media (max-width: 913px) and (orientation: portrait) {
  .titleShadow {
    font-size: 3rem;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .titleShadow {
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .titleShadow {
    margin-left: 1vw;
    font-size: 2.3rem;
    letter-spacing: 0.3rem;
  }

  .inverseShadow,
  .inverseShadowUppercase {
    text-shadow: 1px 1px black, 3px 3px #aaf0d1, 5px 5px black;
  }
}

@media (max-width: 431px) and (orientation: portrait) {

    .boxSpacing {
        letter-spacing: 0;
    }
}

@media (max-width: 394px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}

@media (max-width: 354px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.6rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.3rem;
  }
}
