.titleShadow {
  color:white;
  font-size:3.3rem;
  text-shadow:1px 1px black,
              4px 4px 16px black;
  text-transform:uppercase;
  opacity:0.6;
}

.inverseShadow {
  font-size:4.1rem;
  color:black;
  text-shadow:4px 4px snow,
              6px 6px 16px dimgray;
}

.inverseShadowAlternate {
  font-size:4.1rem;
  color:black;
  text-shadow:4px 4px snow,
              5px 5px black,
              6px 6px gainsboro;
  opacity:0.8;
  text-transform:uppercase;
}

.mintAlternate {
  font-size:4.1rem;
  color:#aaf0d1;
  text-shadow:4px 4px snow,
              5px 5px 15px black;
  opacity:0.6;
  text-transform:uppercase;
}

.poemTitleContainer {
  max-width:70vw;
  font-size:2rem;
  font-family:"lores-9-plus-wide", monospace;
  text-shadow:1px 1px snow,
              8px 8px #aaf0d1;
  margin-left:7vw;
}

.poem {
  max-width:90vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.5rem;
  text-shadow:2px 2px gainsboro;
  letter-spacing:-0.02rem;
  line-height:1.7em;

}
