.titleShadow {
  color:white;
  font-size:3.3rem;
  text-shadow:1px 1px black,
              4px 4px 16px black;
  text-transform:uppercase;
  opacity:0.6;
}

.inverseShadow {
  font-size:4.1rem;
  color:black;
  text-shadow:4px 4px snow,
              6px 6px 16px dimgray;
}

.inverseShadowAlternate {
  font-size:4.1rem;
  color:black;
  text-shadow:4px 4px snow,
              5px 5px black,
              6px 6px gainsboro;
  opacity:0.8;
  text-transform:uppercase;
}

.mintAlternate {
  font-size:4.1rem;
  color:#aaf0d1;
  text-shadow:4px 4px snow,
              5px 5px 15px black;
  opacity:0.6;
  text-transform:uppercase;
}

.mintAlternateTwo {
  font-size:4.1rem;
  color:#aaf0d1;
  text-shadow:4px 4px snow,
              5px 5px 15px black;
  opacity:0.6;
  text-transform:lowercase;
}

.grayShadowUpper {
  font-family:"lores-9-plus-wide", monospace;
  text-shadow:1px 1px snow,
              2px 2px #b0b0b0;
  text-transform: uppercase;
}

.grayShadowUpperBigger {
  font-size:1.4rem;
  font-family:"lores-9-plus-wide", monospace;
  text-shadow:2px 3px snow,
              3px 4px #b0b0b0;
  text-transform: uppercase;
  font-weight:600;
}

.compactProse {
  max-width:45vw;
  margin-left:12.5vw;
  line-height:1.6rem;
}

.box {
  display:flex;
  justify-content: space-between;
  max-width:35vw;
  margin-left:17.5vw;
  line-height:0.2rem;
}

.middleText {
  text-align: center;
}

.underlineThick {
  font-size:2.5rem;
  font-family:"bickham-script-pro-3", sans-serif;
  text-decoration-line:underline;
  text-decoration-thickness:5px;
}

.compactProseTwo {
  max-width:45vw;
  margin-left:12.5vw;
  line-height:2.2rem;
}

.sectionBreak {
  font-family:"lores-9-plus-wide", monospace;
  font-weight: 700;
  font-size:4.2rem;
  color:white;
  text-shadow:1px 1px 6px #d10000;
  text-align:center;
}

.glossLink {
  text-shadow:1px 2px white, 3px 3px 19px dimgray;
}

.glossLink:hover {
  color:white;
  text-shadow:3px 3px 10px black;
}
