.siteBarContainer {
  height:61vh;
  width:100%;
  background-position:38% 60%;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-size:1rem;
  overflow:visible;
}

.blackwellBackground {
  background-image:url("../public/images/BlackwellHeader.jpg");
}

.eisenBackground {
  background-image:url("../public/images/EisenMartinHeader.jpg");
}

.gridleyBackground {
  background-image:url("../public/images/GridleyBackground.jpg");
}

.romanoskyBackground {
  background-image:url("../public/images/RomanoskyBackground.jpg");
}

.naoBackground {
  background-image:url("../public/images/NaoBackground.jpg");
}

.brianteBackground {
  background-image:url("../public/images/BrianteBackground.jpg");
}

.corraoBackground {
  background-image:url("../public/images/CorraoBackground.jpg");
}

.zamoraBackground {
  background-image:url("../public/images/ZamoraBackground.jpg");
}

.taylorBackground {
  background-image:url("../public/images/TaylorBackground.jpg");
}

.porteBackground {
  background-image:url("../public/images/PorteBackground.jpg");
}

.lakghomiBackground {
  background-image:url("../public/images/LakghomiBackground.jpg");
}

.lewisBackground {
  background-image:url("../public/images/LewisBackground.jpg");
}


.leYeasteBackground {
  background-image:url("../public/images/LeYeasteBackground.jpg");
}

.straussBackground {
  background-image:url("../public/images/StraussBackground.jpg")
}

.tombBackground {
  background-image:url("../public/images/TombBackground.jpg");
}

.duskBackground {
  background-image:url("../public/images/DuskBackground.jpg");
}

.stoughBackground {
  background-image:url("../public/images/StoughBackground.jpg");
}

.akantBackground {
  background-image:url("../public/images/AkantBackground.jpg");
}

.alvarezBackground {
  background-image:url("../public/images/AlvarezBackground.jpg");
}

.getteBackground {
  background-image:url("../public/images/GetteBackground.jpg");
}

.krumrieBackground {
  background-image:url("../public/images/KrumrieBackground.jpg");
}

.dasguptaBackground {
  background-image:url("../public/images/DasguptaBackground.jpg");
}

.ovidBackground {
  background-image:url("../public/images/OvidBackground.jpg");
}

.ratBackground {
  background-image:url("../public/images/RatBackground.jpg");
}

.siteBarContainerAbout {
  height:65vh;
  background-image:url("../public/images/LineNewSinew.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-size:1rem;
}

.iconPlusSitebar {
  display:flex;
  justify-content:space-between;
}

.iconPlusSitebar > a {
  background-image:url("../public/images/NewSinewsIcon.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  width:25vw;
  height:35vh;
  margin-top:12vh;
  margin-left:2vw;
}

.siteNav {
  align-self:center;
  display:inline-flex;
  justify-content:flex-end;
  margin-right:6%;
}

.siteNav > button {
  border:none;
  font-family:"lores-9-plus-narrow";
  font-size: 0.7rem;
  background-color:black;
  color:#c0a5a5;
  opacity: 0.8;
  padding:12px 19px;
  border-radius:45px;
  text-transform:lowercase;
  letter-spacing:1.5px;
}
