.siteBarContainer {
  height:61vh;
  width:100%;
  background-position:top;
  background-size:contain;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-size:1rem;
  overflow:hidden;
}

.blackwellBackground {
  background-image:url("../public/images/BlackwellBackground.jpg");
}

.eisenBackground {
  background-image:url("../public/images/EisenMartinBackground.jpg");
}

.gridleyBackground {
  background-image:url("../public/images/GridleyBackground.jpg");
}

.romanoskyBackground {
  background-image:url("../public/images/RomanoskyBackground.jpg");
}

.naoBackground {
  background-image:url("../public/images/NaoBackground.jpg");
}

.brianteBackground {
  background-image:url("../public/images/BrianteBackground.jpg");
}

.corraoBackground {
  background-image:url("../public/images/CorraoBackground.jpg");
}

.zamoraBackground {
  background-image:url("../public/images/ZamoraBackground.jpg");
}

.taylorBackground {
  background-image:url("../public/images/TaylorBackground.jpg");
}

.porteBackground {
  background-image:url("../public/images/PorteBackground.jpg");
}

.lakghomiBackground {
  background-image:url("../public/images/LakghomiBackground.jpg");
}

.lewisBackground {
  background-image:url("../public/images/LewisBackground.jpg");
}


.leYeasteBackground {
  background-image:url("../public/images/LeYeasteBackground.jpg");
}

.straussBackground {
  background-image:url("../public/images/StraussBackground.jpg")
}

.tombBackground {
  background-image:url("../public/images/TombBackground.jpg");
}

.duskBackground {
  background-image:url("../public/images/DuskBackground.jpg");
}

.stoughBackground {
  background-image:url("../public/images/StoughBackground.jpg");
}

.akantBackground {
  background-image:url("../public/images/AkantBackground.jpg");
}

.alvarezBackground {
  background-image:url("../public/images/AlvarezBackground.jpg");
}

.getteBackground {
  background-image:url("../public/images/GetteBackground.jpg");
}

.krumrieBackground {
  background-image:url("../public/images/KrumrieBackground.jpg");
}

.dasguptaBackground {
  background-image:url("../public/images/DasguptaBackground.jpg");
}

.ovidBackground {
  background-image:url("../public/images/OvidBackground.jpg");
}

.ratBackground {
  background-image:url("../public/images/RatBackground.jpg");
}

.guanyinBackground {
  background-image:url("../public/images/GuanyinBackground.jpg");
}

.isolineBackground {
  background-image:url("../public/images/IsolineBackground.jpg");
}

.howFarBackground {
  background-image:url("../public/images/HowFarBackground.jpg");
}

.palaciosBackground {
  background-image:url("../public/images/PalaciosBackground.jpg");
}

.hummelBackground {
  background-image:url("../public/images/HummelBackground.jpg");
}

.poemsBornBackground {
  background-image:url("../public/images/PoemsBornBackground.jpg");
}

.textSpinalityBackground {
  background-image:url("../public/images/TextSpinalityBackground.jpg");
}

.maierhoferBackground {
  background-image:url("../public/images/MaierhoferBackground.jpg");
}

.shiotaBackground {
  background-image:url("../public/images/ShiotaBackground.jpg");
}

.terrariumBackground {
  background-image:url("../public/images/TerrariumBackground.jpg");
}

.mossBackground {
  background-image:url("../public/images/MossBackground.jpg");
}

.feldmanBackground {
  background-image:url("../public/images/FeldmanBackground.jpg");
}

.yrClimateBackground {
  background-image:url("../public/images/YrClimateBackground.jpg");
}

.bisagniBackground {
  background-image:url("../public/images/BisagniBackground.jpg");
}

.theaterBackground {
  background-image:url("../public/images/TheaterHeader.jpg");
}

.raineyBackground {
  background-image:url("../public/images/RaineyBackground.jpg");
}

.iconPlusSitebar {
  display:flex;
  justify-content:space-between;
}

.iconPlusSitebar > div {
  background-image:url("../public/images/NewSinewsIcon.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  width:25vw;
  height:35vh;
  margin:12vh 0 0 2vw;
  opacity:0.9;
  cursor:pointer;
}

.siteNav {
  align-self:center;
  display:inline-flex;
  justify-content:flex-end;
  margin-right:6%;
}

.dropDown {
  overflow:hidden;
}

.siteNav > .dropDown > button, .home, .about {
  border:none;
  font-family:"lores-9-plus-narrow", monospace;
  font-size: 0.7rem;
  background-color:black;
  color:#c0a5a5;
  opacity: 0.75;
  padding:12px 19px;
  border-radius:45px;
  text-transform:lowercase;
  letter-spacing:1.5px;
  cursor:pointer;
  transition:1.2s background-color;
}

.siteNav > .dropDown > button:not(last-child) {
  margin-right:3px;
}

.issueContent {
  display: none;
  position: absolute;
  z-index: 7;
  box-shadow: 4px 8px 26px black;
  cursor:pointer;
}

.issueContent > button {
  border:4px double #c0a5a5;
  font-family:"lores-9-plus-narrow", monospace;
  font-size: 0.8rem;
  background-color:black;
  color:snow;
  opacity: 0.9;
  padding:6px 16px;
  text-align: left;
  text-transform:lowercase;
  letter-spacing:1.5px;
}

.siteNav > .dropDown > button:hover, .home:hover, .about:hover {
  background-color:#c0a5a5;
  color:black;
}

.siteNav > .dropDown > button:hover + .issueContent {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  max-width:35vw;
}

@media (max-width: 991.98px) {

  .siteNav {
    margin:10% 6% 0 6%;
    background-size:cover;
  }

  .siteNav > button {
    padding:7.5px 10px;
  }
}

@media (max-width: 767px) and (orientation:portrait) {

  .iconPlusSitebar > a {
    width:45vw;
    height:45vh;
    margin-top:13vh;
    margin-left:12vw;
    opacity:0.7;
  }

  .siteNav {
    align-self:center;
    display:inline-flex;
    flex-flow:column wrap;
    justify-content:flex-end;
    margin:6vh 6vw 0 0 ;
  }

  .siteNav > button {
    padding:5.5px 7px;
    margin-bottom:2.5vh;
    cursor:pointer;
    opacity:0.7;
  }

 }

 @media (max-width: 721px) and (orientation:landscape) {

   .siteNav > button {
     padding:3.5px 5px;
   }
 }

 @media (max-height: 400px) and (orientation:landscape){

   .siteNav {
     justify-content:flex-start;
     margin:2vh 6vw 0 0 ;
   }

   .siteNav > button {
     padding:4.5px 6px;
   }



 }

 @media (max-height: 376px) and (orientation:landscape){

   .siteNav > button {
     margin-bottom:4vh;
   }



 }

 @media (max-width: 376px) and (orientation:portrait) {

   .siteNav {
     margin:14vh 6vw 0 0 ;
   }

  }

@media (max-width: 281px) and (orientation:portrait) {
  .iconPlusSitebar > a {
    width:40vw;
  }
}

 @media (max-height: 281px) and (orientation:landscape){

   .siteNav > button {
     font-size:0.5rem;
     padding:3.5px 5px;
   }



 }
