.top {
  height:190vh;
  background: linear-gradient(
      to bottom,
      rgba(32, 32, 32, 1),
      rgba(32, 32, 32, 0.84) 25%,
      rgba(32, 32, 32, 0.65) 55%,
      rgba(32, 32, 32, 0.72) 75%,
      rgba(32, 32, 32, 0.84) 90%,
      rgba(32, 32, 32, 1)
    ),
    url("../public/images/ArchNewSinew.jpg") repeat center center fixed;
  overflow:hidden;
  font-size:1rem;
}

.iconPlusSitebar {
  display:flex;
  justify-content:space-between;
}

.iconPlusSitebar > div {
  background-image:url("../public/images/NewSinewsIcon.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  width:25vw;
  height:35vh;
  margin-top:12vh;
  margin-left:2vw;
  cursor:pointer;
  opacity:0.5;
}

.graffiti {
  position:sticky;
  font-family:"lores-9-plus-wide-bold-alt", monospace;
  font-size:2.4rem;
  text-transform:lowercase;
  color:whitesmoke;
  text-shadow:1px 1px 19px white, 3px 3px 19px #b0b0b0;
  margin:19% 0 0 14%;
}

.siteNav {
  align-self:center;
  display:inline-flex;
  justify-content:flex-end;
  margin-right:6%;
}

.siteNav  > button {
  border:none;
  font-family:"lores-9-plus-narrow", monospace;
  font-size: 0.9rem;
  background-color:#b0b0b0;
  color:snow;
  opacity: 0.8;
  padding:12px 19px;
  border-radius:45px;
  text-transform:lowercase;
  letter-spacing:1.5px;
}

.middle {
  background:url("../public/images/ArchNewSinew.jpg") repeat center center fixed;
}

.marquee {
  padding:12vh 0;
  margin-left:6%;
}

.lightTypeface {
  font-family:"lores-9-plus-wide-bold-alt", monospace;
  color:#b0b0b0;
  opacity: 1;
  font-size:3.5rem;
  text-shadow: 2px 3px snow, 4px 5px black, 6px 7px 35px gainsboro;
  font-weight:400;
  text-transform:lowercase;
}

.snowTypeface {
font-family:"lores-9-plus-narrow", monospace;
color:snow;
  text-shadow:1px 1px #b0b0b0,
              2px 2px black,
              3px 3px white,
              4px 4px #b0b0b0;
  font-size:3.3rem;
  font-weight:700;
  text-transform:uppercase;
  line-height:6.5rem;
  letter-spacing:0.2rem;
}

.bottom {
    height:160vh;
    background: linear-gradient(
        to top,
        rgba(32, 32, 32, 1),
        rgba(32, 32, 32, 0.84) 25%,
        rgba(32, 32, 32, 0.65) 55%,
        rgba(32, 32, 32, 0.72) 75%,
        rgba(32, 32, 32, 0.84) 90%,
        rgba(32, 32, 32, 1)
      ),
      url("../public/images/ArchNewSinew.jpg") repeat center center fixed;
      filter: drop-shadow(16px 16px 20px snow) invert(75%);
}

@media (width:1024px) and (height:768px) and (orientation:landscape) {

  .graffiti {
    margin:19% 0 0 1%;
  }


}

@media (width:1024px) and (height:600px) and (orientation:landscape) {

  .graffiti {
    margin:19% 0 0 1%;
  }


}

@media (max-width: 991.98px) {

  .top {
    background-size:cover;
    background-position:center;
  }

  .iconPlusSitebar > div {
    width:35vw;
    height:35vh;
    margin-top:9vh;
    margin-left:5vw;
    opacity:0.7;
  }

  .siteNav {
    align-self:center;
    display:inline-flex;
    flex-flow:column wrap;
    justify-content:flex-end;
    margin:7vh 6vw 0 0 ;
  }

  .siteNav > button {
    padding:6px 13px;
    margin-bottom:2vh;
    opacity:0.8;
  }
}

@media (max-width: 927px) and (orientation:landscape) {

  .iconPlusSitebar > div {
    width:55vw;
    height:55vh;
    margin-left:1vw;
  }

  .siteNav {
    margin-right:25%;
  }

  .graffiti {
    font-size:2.2rem;
    margin:8% 0 0 4%;
  }


}

@media (max-width: 854px) and (orientation:landscape) {

  .graffiti {
    font-size:1.6rem;
  }


}

@media (max-width: 913px) and (orientation:portrait) {

  .top {
    background-size:cover;
    background-position:center;
    height:100vh;
  }

  .graffiti {
    font-size:2rem;
    margin:19% 0 0 0;
  }


}


@media (max-width:541px) and (orientation:portrait) {


  .graffiti {
    font-size:1.4rem;
    margin:29% 0 0 0;
  }

}

@media (max-width:429px) and (orientation:portrait) {

  .graffiti {
    font-size:1rem;
    font-weight:700;
  }

  .lightTypeface {
    font-size:1.7rem;
    text-shadow:1px 1px black, 2px 2px white;
  }

  .snowTypeface {
    font-size:2.3rem;
  }

}


@media (max-width:391px) and (orientation:portrait) {

  .graffiti {
    font-size:0.9rem;
  }

}

@media (max-width:281px) and (orientation:portrait) {


  .graffiti {
    font-size:0.7rem;
    margin:21% 0 0 0;
  }

}

@media (max-height:281px) and (orientation:landscape) {


  .graffiti {
    margin:5% 0 0 0;
  }

}
