.top {
  height:190vh;
  background-image:url("../public/images/ArchNewSinew.jpg");
  background-size:100vw 100vh;
  background-repeat:no-repeat;
  background-position:25% 35%;
  background-attachment:fixed;
  overflow:hidden;
  font-size:1rem;
}

.iconPlusSitebar {
  display:flex;
  justify-content:space-between;
}

.iconPlusSitebar > div {
  background-image:url("../public/images/NewSinewsIcon.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  width:25vw;
  height:35vh;
  margin-top:12vh;
  margin-left:2vw;
  cursor:pointer;
}

.graffiti {
  position:sticky;
  font-family:"lores-9-plus-wide-bold-alt", monospace;
  font-size:2.4rem;
  text-transform:lowercase;
  color:whitesmoke;
  text-shadow:1px 1px 19px white, 3px 3px 19px black;
  margin:19% 0 0 14%;
}

.siteNav {
  align-self:center;
  display:inline-flex;
  justify-content:flex-end;
  margin-right:6%;
}

.siteNav  > button {
  border:none;
  font-family:"lores-9-plus-narrow", monospace;
  font-size: 0.7rem;
  background-color:black;
  color:#c0a5a5;
  opacity: 0.8;
  padding:12px 19px;
  border-radius:45px;
  text-transform:lowercase;
  letter-spacing:1.5px;
}

.middle {
  margin:6% 0 6% 6%;
}

.lightTypeface {
  font-family:"lores-9-plus-wide-bold-alt", monospace;
  color:#b0b0b0;
  opacity: 1;
  font-size:2.4rem;
  font-weight:400;
  text-transform:lowercase;
}

.darkTypeface {
  font-family:"lores-9-plus-wide", monospace;
  font-size:1.4rem;
  font-weight:700;
  text-transform:lowercase;
  line-height:5.5rem;
  letter-spacing:-0.02rem;
}

.darkTypefaceSpecial {
  font-family:"lores-9-plus-wide", monospace;
  font-size:1.4rem;
  font-weight:700;
  text-transform:lowercase;
  line-height:5.4rem;
  letter-spacing:-0.02rem;
  font-style:italic;
}

.bottom {
    height:90vh;
    background-image:url("../public/images/NewSinewsCoveFull.jpg");
    background-repeat:no-repeat;
    background-position:35% 35%;
    background-size:cover;
    background-attachment:fixed,scroll;
}

@media (width:1024px) and (height:768px) and (orientation:landscape) {

  .graffiti {
    margin:19% 0 0 1%;
  }


}

@media (width:1024px) and (height:600px) and (orientation:landscape) {

  .graffiti {
    margin:19% 0 0 1%;
  }


}

@media (max-width: 991.98px) {

  .top {
    background-size:cover;
    background-position:center;
  }

  .iconPlusSitebar > div {
    width:35vw;
    height:35vh;
    margin-top:9vh;
    margin-left:5vw;
    opacity:0.7;
  }

  .siteNav {
    align-self:center;
    display:inline-flex;
    flex-flow:column wrap;
    justify-content:flex-end;
    margin:7vh 6vw 0 0 ;
  }

  .siteNav > button {
    padding:6px 13px;
    margin-bottom:2vh;
    opacity:0.8;
  }

  .bottom {
      height:150vh;
      background-size:cover;
      background-position:75% 25%;
  }
}

@media (max-width: 927px) and (orientation:landscape) {

  .iconPlusSitebar > div {
    width:55vw;
    height:55vh;
    margin-left:1vw;
  }

  .siteNav {
    margin-right:25%;
  }

  .graffiti {
    font-size:2.2rem;
    margin:8% 0 0 4%;
  }


}

@media (max-width: 854px) and (orientation:landscape) {

  .graffiti {
    font-size:1.6rem;
  }


}

@media (max-width: 913px) and (orientation:portrait) {

  .top {
    background-size:cover;
    background-position:center;
    height:100vh;
  }

  .graffiti {
    font-size:2rem;
    margin:19% 0 0 0;
  }

  .bottom {
    height:120vh;
      background-position:1% 35%;
  }


}


@media (max-width:541px) and (orientation:portrait) {


  .graffiti {
    font-size:1.4rem;
    margin:9% 0 0 0;
  }

}

@media (max-width:429px) and (orientation:portrait) {

  .top {
    background-position:center;
    height:100vh;
  }

  .graffiti {
    font-size:1rem;
    font-weight:700;
    color:black;
    text-shadow:3px 3px 19px white, 3px 3px 19px #b0b0b0;
  }

  .lightTypeface {
    font-size:2rem;
  }

  .bottom {
      height:60vh;
  }

}


@media (max-width:391px) and (orientation:portrait) {

  .top {
    height:110vh;
  }

  .graffiti {
    font-size:0.9rem;
  }

}

@media (max-width:281px) and (orientation:portrait) {


  .graffiti {
    font-size:0.7rem;
    margin:21% 0 0 0;
  }

}

@media (max-height:281px) and (orientation:landscape) {


  .graffiti {
    margin:5% 0 0 0;
  }

}
