.title {
  display: inline-block;
  margin-right: 2vw;
}

.titleShadow {
  text-shadow: 2px 2px snow, 4px 4px black;
}

.inverseShadow {
  color: black;
  text-shadow: 4px 4px snow, 6px 6px #b0b0b0;
}

.foam {
  max-width: 70vw;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  text-shadow: 1px 1px #b0b0b0;
  letter-spacing: -0.02rem;
  line-height: 1.4em;
  margin-left: 14vw;
}

@media (max-width: 927px) and (orientation: landscape) {
  .foam {
    max-width: 90vw;
    font-size: 1.2rem;
    margin-left: 5vw;
    white-space: pre-line;
  }
}

@media (max-width: 912px) and (orientation: portrait) {
  .foam {
    max-width: 90vw;
    font-size: 1.2rem;
    margin-left: 5vw;
    white-space: pre-line;
  }
}

@media (max-width: 413px) and (orientation: portrait) {
  .foam {
    max-width: 90vw;
    font-size: 1rem;
    margin-left: 3vw;
    white-space: pre-line;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .foam {
    font-size: 0.7rem;
  }
}
