@keyframes skew1 {
  0% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes skew2 {
  0% {
    transform: rotate(2turn);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes skew3 {
  0% {
    transform: rotate(3turn);
  }
  100% {
    transform: rotate(0);
  }
}

.bodyContainer {
  position:absolute;
  min-height:100%;
  min-width:100%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  overflow: hidden;
}


.pageBackgroundOne {
  animation: skew1 1s ease-in-out;
  position:relative;
  background: url("../public/images/Issue5Cover1.jpg");
  background-size: cover;
  background-position:top;
  min-height:100%;
  min-width:33%;
  margin:0;
}

.workStructure{
  position:relative;
  width:100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap:3vh;
  color:white;
  font-family:"lores-15-bold-alt-oakland", monospace;
  text-shadow:2px 2px black,
              4px 4px #D10000;
  font-size:1.65rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin:9vh 1vw 1vh 6vw;
  text-transform: uppercase;
}

.workColumn {
  position:relative;
  max-width:21vw;
}

.linkButtonOne {
  width:50%;
  font-family: "lores-9-plus-narrow", monospace;
  font-size:1.2rem;
  color:white;
  text-shadow:2px 2px black;
  border:none;
  cursor:pointer;
  background:none;
  margin-top:5vh;
}

.linkButtonOne:hover {
  letter-spacing:0.1rem;
  color:black;
  text-transform: uppercase;
  text-shadow: 2px 2px white;
}


.pageBackgroundTwo {
  animation: skew2 1.4s ease-in-out;
  position:relative;
  background: url("../public/images/Issue5Cover2.jpg");
  background-size: cover;
  background-position:center;
  min-height:100%;
  min-width:33%;
  margin:0;
}

.workStructureTwo {
  position:relative;
  width:100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap:3vh;
  color:white;
  font-family:"lores-15-bold-alt-oakland", monospace;
  text-shadow:2px 2px black,
              4px 4px #D10000;
  font-size:1.65rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin:4vh 1vw 1vh 6vw;
  text-transform: uppercase;
}

.workColumnTwo {
  position:relative;
  max-width:26vw;
}

.linkButtonBox {
  position:relative;
  display:flex;
  justify-content:center;
  margin-top:1vh;

}

.linkButtonTwo {
  position:relative;
  border:none;
  background:none;
  text-decoration:none;
  cursor:pointer;
  font-family: "lores-9-plus-narrow", monospace;
  font-size:1.2rem;
  color:white;
  text-shadow:2px 2px black;
  margin-top:2vh;
}

.linkButtonTwo:hover {
  letter-spacing:0.1rem;
  color:black;
  text-shadow: 2px 2px white;
  text-transform:uppercase;
}

.workLink {
  cursor:pointer;
}

.workLink:hover {
color:black;
text-shadow:2px 2px white,
            4px 4px #D10000;
}

.pageBackgroundThree {
  animation: skew3 1.7s ease-in-out;
  position:relative;
  background: url("../public/images/Issue5Cover3.jpg");
  background-size: cover;
  background-position:bottom;
  min-height:100%;
  min-width:33%;
  margin:0;
}

.titleAndSubtitle {
  position:relative;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-flow: column;
}

.pageTitle {
  position:relative;
  grid-column: 1 / span 1;
  font-family: "lores-9-plus-wide-bold-alt", monospace;
  color: #D10000;
  font-size: 3.2rem;
  text-shadow: 2px 2px snow,
              4px 4px black;
  text-transform: lowercase;
  max-width:8%;
  margin:5vh 0 0 4vw;
}

.issueTitle {
  position: relative;
  grid-column: 2 / span 1;
  align-self:center;
  font-family: "lores-12-bold-alt-oakland",  monospace;
  color: snow;
  text-shadow:3px 3px 3px black;
  font-size: 2.7rem;
  text-transform: lowercase;
  max-width:8%;
  margin-left:15vw;
}

.inverseTitleColor {
  color: snow;
  text-shadow: 6px 4px 14px black;
  text-transform: uppercase;
}

.inverseSubtitleColor {
  color: black;
  text-shadow: 2px 4px 6px #b0b0b0;
}
