@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: translate(-5vh, 0);
  }
  to {
    transform: translate(-45vh, 100%);
  }
}

.bodyContainer {
  position: fixed;
  background: url("../public/images/Issue9Cover.jpg") repeat center fixed;
  background-size: contain;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  animation: slideInFromTop 5s ease-in-out 0s 1;
  overflow: hidden;
}

.topRow {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.issueContents {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  max-width: 98vw;
  right: 60px;
  bottom: 20px;
  font-family: "lores-22-bold-oakland", monospace;
}

.issueContentsTwo {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  max-width: 98vw;
  left: 60px;
  top: 300px;
  font-family: "lores-22-bold-oakland", monospace;
}

.workLink {
  color: white;
  font-family: "lores-9-wide";
  font-size: 1.6rem;
  font-weight: 400;
  text-shadow: 1px 1px gray, 2px 3px black, 3px 5px 4px #d10000;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  transition: 1.4s ease opacity;
}

.workLink:nth-child(2) {
  margin-left: 3vw;
}

.workLink:nth-child(3) {
  margin-left: 1.5vw;
}

.workLink:nth-child(5) {
  margin-left: -1vw;
}

.workLinkBios {
  margin-left: 5vw;
  font-family: "lores-22-bold-oakland", monospace;
  font-size: 1.9rem;
  text-shadow: 1px 1px white, 2px 2px black, 3px 3px white, 4px 4px 14px black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  cursor: pointer;
  transition: 1.4s ease opacity;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.workLink:hover {
  opacity: 0.1;
}

.workLinkBios:hover {
  opacity: 1;
}

.pageTitle {
  position: absolute;
  left: 71vw;
  top: 10vh;
  font-family: "lores-9-plus-wide";
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 3px black, 3px 4px white, 7px 8px black, 9px 10px white,
    11px 12px black, 13px 14px white, 15px 16px 17px #d10000;
  display: inline-block;
  animation-name: spin;
  animation-duration: 29s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (width: 1368px) and (height: 912px) {
  .pageTitle {
    left: 51vw;
    animation-name: none;
  }

  .issueContents {
    top: 65vh;
  }
}

@media (width: 1366px) and (height: 1024px) {
  .pageTitle {
    left: 51vw;
    animation-name: none;
  }

  .issueContents {
    top: 55vh;
    left:30vw;
  }
}

@media (width: 1280px) and (height: 853px) {
  .pageTitle {
    left: 60vw;
    animation-name: none;
  }

  .issueContents {
    top: 65vh;
  }
}

@media (width: 1280px) and (height: 800px) {
  .pageTitle {
    left: 60vw;
    animation-name: none;
  }

  .issueContents {
    top: 65vh;
  }
}

@media (width: 1194px) and (height: 834px) {
  .issueContents {
    top: 13vh;
  }

  .pageTitle {
    left: 46vw;
    animation-name: none;
  }

  .issueContentsTwo {
    top: 25vh;
  }

  .issueContents {
    top: 55vh;
  }
}

@media (width: 1180px) and (height: 820px) {
  .issueContents {
    top: 13vh;
  }

  .pageTitle {
    left: 46vw;
    animation-name: none;
  }

  .issueContentsTwo {
    top: 25vh;
  }

  .issueContents {
    top: 55vh;
  }
}

@media (width: 1080px) and (height: 810px) {
  .issueContents {
    top: 13vh;
  }

  .pageTitle {
    left: 46vw;
    animation-name: none;
  }

  .issueContentsTwo {
    top: 25vh;
  }

  .issueContents {
    top: 55vh;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .issueContents {
    top: 13vh;
  }

  .pageTitle {
    left: 46vw;
    animation-name: none;
  }

  .issueContentsTwo {
    top: 25vh;
  }

  .issueContents {
    left: 10vh;
    top: 45vh;
  }
}

@media (width: 1024px) and (height: 768px) {
  .issueContents {
    top: 13vh;
  }

  .pageTitle {
    left: 46vw;
    animation-name: none;
  }

  .issueContentsTwo {
    top: 25vh;
  }

  .issueContents {
    top: 65vh;
  }
}

@media (width: 1024px) and (height: 600px) {
  .issueContents {
    top: 13vh;
  }

  .pageTitle {
    left: 46vw;
    animation-name: none;
  }

  .issueContentsTwo {
    top: 25vh;
  }

  .issueContents {
    top: 65vh;
  }
}

@media (max-width: 933px) and (orientation: landscape) {
  .issueContentsTwo {
    top: 18vh;
    left: 5vw;
  }

  .issueContents {
    top: 54vh;
    left: 5vw;
  }

  .workLink {
    margin-bottom: 1vh;
    font-size: 1rem;
  }

  .workLinkBios {
    font-size: 1.2rem;
    opacity: 1;
  }

  .pageTitle {
    font-size: 1.7rem;
    animation-name: none;
  }
}

@media (width: 912px) and (height: 1368px) {
  .workLink,
  .workLinkBios {
    font-size: 2.7rem;
  }
}

@media (max-width: 912px) and (orientation: portrait) {
  .issueContentsTwo {
    top: 16vh;
  }

  .issueContents {
    left: 5vw;
    top: 51vh;
  }

  .pageTitle {
    top: 5vh;
    left: 45vw;
    animation-name: none;
  }

  .workLink {
    margin-bottom: 2vh;
    font-size: 1.9rem;
  }

  .workLinkBios {
    opacity: 1;
  }
}

@media (max-width: 883px) and (orientation: landscape) {
  .issueContentsTwo {
    top: 16vh;
  }

  .workLink {
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  .workLinkBios {
    font-size: 0.9rem;
  }

  .pageTitle {
    left: 61vw;
  }
}

@media (max-width: 813px) and (orientation: landscape) {

  .workLink {
    font-size: 0.8rem;
  }

  .workLinkBios {
    font-size: 0.8rem;
  }
}

@media (max-width: 769px) and (orientation: portrait) {
  .issueContentsTwo {
    top: 14vh;
    left: 5vw;
  }

  .issueContents {
    top: 47vh;
    left: 5vw;
  }

  .workLink {
    font-size: 1.3rem;
    margin-bottom: 1vh;
  }

  .workLinkBios {
    font-size: 1.3rem;
    text-shadow: 1px 2px white, 5px 5px 12px black;
    opacity: 1;
    margin-bottom: 1.4vh;
  }
}

@media (max-width: 746px) and (orientation: landscape) {

  .workLink {
    font-size: 0.7rem;
  }

  .workLinkBios {
    font-size: 0.7rem;
  }
}

  @media (max-width: 541px) and (orientation: portrait) {
  .workLink {
    font-size: 1.2rem;
  }

  .workLinkBios {
    font-size: 1.1rem;
  }

  .pageTitle {
    top: 2vh;
    left: 40vw;
    font-size: 1.9rem;
    font-weight: 400;
    text-shadow: 1px 2px black, 2px 3px white, 3px 4px black;
    text-transform: uppercase;
  }
}

@media (max-width: 415px) and (orientation: portrait) {
   .issueContentsTwo {
    top:11vh;
  }

  .issueContents {
    top: 48vh;
  }
}

@media (max-width: 391px) and (orientation: portrait) {
  .pageTitle {
    font-size: 1.3rem;
  }


  .issueContents {
    top: 51vh;
  }
}

@media (max-width: 384px) and (orientation: portrait) {
  .workLink,
  .workLinkBios {
    font-size: 1.1rem;
  }

  .issueContents {
    top: 53vh;
  }
}

@media (max-width: 321px) and (orientation: portrait) {
  .workLink,
  .workLinkBios {
    font-size: 1rem;
  }

   .issueContents {
    top: 50vh;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .workLink,
  .workLinkBios {
    font-size: 1rem;
  }
}
