@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: translate(20px, 0);
  }
  to {
    transform: translate(-80px, 100%);
}
}

.bodyContainer {
  position: fixed;
  background: url("../public/images/Issue9Cover.jpg") repeat center fixed;
  background-size: contain;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  animation: slideInFromTop 5s ease-in-out 0s 1;
  overflow: hidden;
}

.topRow {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.issueContents {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  max-width: 98vw;
  right: 60px;
  bottom: 20px;
  font-family: "lores-22-bold-oakland", monospace;
}

.issueContentsTwo {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  max-width: 98vw;
  left: 60px;
  top: 300px;
  font-family: "lores-22-bold-oakland", monospace;
}

.workLink {
  color: white;
  font-family:"lores-9-wide";
  font-size: 1.6rem;
  font-weight:400;
  text-shadow: 1px 1px gray, 2px 3px black, 3px 5px 4px #d10000;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  transition: 1.4s ease opacity;
}

.workLink:nth-child(2) {
  margin-left: 3vw;
}

.workLink:nth-child(3) {
  margin-left: 1.5vw;
}

.workLink:nth-child(5) {
  margin-left: -1vw;
}

.workLinkBios {
  margin-left:5vw;
  font-family: "lores-22-bold-oakland", monospace;
  font-size: 1.9rem;
  text-shadow:1px 1px white, 2px 2px black, 3px 3px white, 4px 4px 14px black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  opacity:0.5;
  cursor: pointer;
  transition: 1.4s ease opacity;
}


.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.workLink:hover,
.workLinkTwo:hover {
  opacity: 0.1;
}

.workLinkBios:hover {
  opacity:1;
}

.pageTitle {
  position:absolute;
  left:71vw;
  top:10vh;
  font-family:"lores-9-plus-wide";
  font-size: 3rem;
  font-weight: 700;
  color:white;
  text-shadow: 1px 2px black, 2px 3px white, 3px 4px black, 5px 6px 15px #d10000;
  display: inline-block;
   animation-name: spin;
  animation-duration: 29s; 
  animation-direction: alternate;
  animation-iteration-count: infinite; 
  animation-timing-function: linear; /* Constant speed */
}

@media (width: 1368px) and (height: 912px) {
  .issueContents {
    top: 17vh;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    text-shadow: 2px 2px black;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    width: 12vw;
    font-size: 1rem;
  }
}

@media (width: 1366px) and (height: 1024px) {
  .issueContents {
    top: 8.5vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    width: 12vw;
    font-size: 1rem;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 19vh;
  }
}

@media (width: 1280px) and (height: 800px) {
  .issueContents {
    top: 11vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    width: 12vw;
    font-size: 1rem;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    text-shadow: 2px 2px black;
  }
}

@media (width: 1194px) and (height: 834px) {
  .issueContents {
    top: 13vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    width: 12vw;
    font-size: 1rem;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 15vh;
  }
}

@media (width: 1180px) and (height: 820px) {
  .pageTitle {
    font-size: 2.9rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 13vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    text-shadow: 2px 2px black;
  }
}

@media (width: 1080px) and (height: 810px) {
  .pageTitle {
    font-size: 2.9rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 9vh;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 9vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    text-shadow: 2px 2px black;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .pageTitle {
    font-size: 2.9rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 13vh;
  }

  .issueContents {
    top: 8vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    width: 12vw;
    font-size: 1rem;
    letter-spacing: 0;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    letter-spacing: 0.4rem;
    line-height: 1.9rem;
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 18vh;
  }
}

@media (width: 1024px) and (height: 768px) {
  .pageTitle {
    font-size: 2.9rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 10vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    letter-spacing: 0;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 13vh;
  }
}

@media (width: 1024px) and (height: 600px) {
  .pageTitle {
    font-size: 2.9rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 13vh;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 9vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    letter-spacing: 0;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    font-size: 2rem;
    text-shadow: 2px 2px black;
    line-height: 1.7rem;
  }
}

@media (max-width: 998px) {
  .workLink:hover,
  .workLinkTwo:hover,
  .workLinkBios:hover {
    opacity: 1;
  }
}

@media (max-width: 933px) and (orientation: landscape) {
  .pageTitle {
    font-size: 1.7rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 8vh;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
    line-height: 0.85rem;
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 20vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    width: 12vw;
    font-size: 0.9rem;
    letter-spacing: 0;
  }
}

@media (width: 912px) and (height: 1368px) {
  .pageTitle {
    font-size: 2.6rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 13vh;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    line-height: 1.7rem;
    font-size: 2.7rem;
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 26vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

@media (max-width: 883px) and (orientation: landscape) {
  .workLink,
  .workLinkTwo,
  .workLinkBios {
    letter-spacing: 0.3rem;
  }

  .siteShortcuts > a > .linkButton {
    font-size: 0.8rem;
  }
}

@media (width: 853px) and (height: 1280px) {
  .pageTitle {
    font-size: 2.3rem;
    letter-spacing: 0;
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .issueContents {
    top: 13vh;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    line-height: 1.7rem;
    font-size: 2.7rem;
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 23vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
    margin-top: 2vh;
  }

  .siteShortcuts > a > .linkButton {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

@media (max-width: 835px) and (orientation: portrait) {
  .pageTitle {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    line-height: 1.7rem;
    font-size: 2.3rem;
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 15vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
    margin-top: 2vh;
  }

  .siteShortcuts > a > .linkButton {
    width: 12vw;
    font-size: 0.7rem;
  }
}

@media (max-width: 801px) and (orientation: landscape) {
  .issueContents {
    top: 12vh;
  }

  .specialFormatting {
    margin-top: 10vh;
  }

  .siteShortcuts > a > .linkButton {
    font-size: 0.77rem;
  }
}

@media (width: 720px) and (height: 540px) {
  .specialFormatting {
    display: inline-block;
    margin-top: 31vh;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .pageTitle {
    line-height: 1.6rem;
  }

  .issueContents {
    top: 5vhpx;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    font-size: 1rem;
    letter-spacing: 0.02rem;
  }

  .siteShortcuts > a > .linkButton {
    font-size: 0.6rem;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .pageTitle {
    text-shadow: 2px 2px white, 8px 8px 20px black;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    letter-spacing: 0.5rem;
    line-height: 1.3rem;
  }

  .siteShortcuts > a > .linkButton {
    width: 25vw;
    font-size: 0.88rem;
  }
}

@media (width: 540px) and (height: 720px) {
  .pageTitle {
    line-height: 1.1rem;
    letter-spacing: 0;
  }

  .issueContents {
    top: 4vh;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    line-height: 1.35rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
  }

  .specialFormatting {
    display: inline-block;
    margin-top: 25vh;
  }

  .siteShortcuts > a {
    flex-flow: row;
  }

  .siteShortcuts > a > .linkButton {
    width: auto;
    font-size: 0.5rem;
    letter-spacing: 0;
  }
}

@media (max-width: 431px) and (orientation: portrait) {
  .pageTitle {
    font-size: 1.5rem;
    letter-spacing: -0.02rem;
  }

  .issueContents {
    top: 10vh;
    line-height: 2.9vh;
  }

  .workLink,
  .workLinkTwo,
  .workLinkBios {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 1.25rem;
  }

  .specialFormatting {
    margin-top: 30vh;
  }

  .siteShortcuts > a {
    flex-flow: column;
    margin-top: 1vh;
  }

  .siteShortcuts > a > .linkButton {
    width: 24vw;
    font-size: 0.8rem;
    letter-spacing: 0;
  }
}

@media (max-width: 391px) and (orientation: portrait) {
  .pageTitle {
    font-size: 1.3rem;
  }

  .siteShortcuts > a > .linkButton {
    width: 21vw;
    font-size: 0.54rem;
  }
}

@media (max-width: 376px) and (orientation: portrait) {
  .workLink,
  .workLinkTwo,
  .workLinkBios {
    font-size: 1.4rem;
  }

  .specialFormatting {
    margin-top: 30vh;
  }
}

@media (max-width: 321px) and (orientation: portrait) {
  .workLink,
  .workLinkTwo,
  .workLinkBios {
    font-size: 1.2rem;
  }

  .siteShortcuts > a > .linkButton {
    font-size: 0.49rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .workLink,
  .workLinkTwo,
  .workLinkBios {
    font-size: 1rem;
  }
}
