.fullPageBackground {
  position: fixed;
  background: linear-gradient(
      90deg,
      rgba(32, 32, 32, 0.05),
      rgba(32, 32, 32, 0.25)
    ),
    url("../public/images/Issue3Cover.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.titleAndSubtitle {
  position:relative;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-area: 1 / 1 / 7 / 2;
  grid-auto-flow: column;
}

.pageTitle {
  position:relative;
  grid-column: 1 / span 1;
  font-family: "lores-9-plus-wide-bold-alt";
  color: #6b6b6b;
  font-size: 3.2rem;
  text-transform: lowercase;
  max-width:8%;
  margin:1rem 0 0 1rem;
}

.issueTitle {
  position: relative;
  grid-column: 2 / span 1;
  align-self:center;
  font-family: "lores-9-minus-narrow";
  color: white;
  text-shadow:1px 1px #b0b0b0;
  font-size: 2.2rem;
  text-transform: uppercase;
  max-width:8%
}

.inverseTitleColor {
  color: snow;
  text-shadow: 6px 4px #2cbae7;
}

.inverseSubtitleColor {
  color: black;
  text-shadow: 2px 4px snow;
  text-transform:lowercase;
}

.workStructure {
  position:relative;
  grid-area:1 / 2 / 7 / 5;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow:column;
}

.issueContents {
  position:relative;
  display: grid;
  grid-auto-flow: row;
  height: 70vh;
  margin:1rem 0 0 53vw;
  align-content: space-between;
  grid-column:4 / span 1;
}

.workColumn {
  width:21rem;
  margin-bottom:0.5rem;
}

.workLink {
  position: relative;
  font-family: ubuntu, sans-serif;
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing:0.3rem;
}

.workLink:hover {
  color:#6b6b6b;
}

.siteShortcuts {
  grid-column:3 / span 1;
  margin-top:16px;
}

.siteShortcuts > .linkButton {
  position: relative;
  border: 0;
  background-color: black;
  padding: 1.5vh 1.4vw;
  font-size: 0.7rem;
  border-radius: 44px;
  cursor: pointer;
}

.siteShortcuts > .linkButton:not(:first-child) {
  margin-left:10px;
}

.innerSiteLinkTag, .twitterLinkTag {
  position: relative;
  font-family: "lores-9-plus-narrow";
  text-decoration: none;
  color: white;
}

.twitterLinkTag {
  position: relative;
  background-color: inherit;
  padding: 1.3vh 1.7vw;
  border: 1px solid white;
  border-radius: 50%;
}
