.bodyContainer {
  position:absolute;
  min-height:100%;
  min-width:100%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}


.pageBackgroundOne {
  position:relative;
  background: url("../public/images/Issue5Cover1.jpg");
  background-size: cover;
  background-position:top;
  min-height:100%;
  min-width:33%;
  margin:0;
}

.pageBackgroundTwo {
  position:relative;
  background: url("../public/images/Issue5Cover2.jpg");
  background-size: cover;
  background-position:center;
  min-height:100%;
  min-width:33%;
  margin:0;
}

.pageBackgroundThree {
  position:relative;
  background: url("../public/images/Issue5Cover3.jpg");
  background-size: cover;
  background-position:bottom;
  min-height:100%;
  min-width:33%;
  margin:0;
}

.titleAndSubtitle {
  position:relative;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-area: 1 / 1 / 7 / 2;
  grid-auto-flow: column;
}

.pageTitle {
  position:relative;
  grid-column: 1 / span 1;
  font-family: "lores-9-plus-wide-bold-alt", monospace;
  color: #6b6b6b;
  font-size: 3.2rem;
  text-transform: lowercase;
  max-width:8%;
  margin:2vh 0 0 2vw;
}

.issueTitle {
  position: relative;
  grid-column: 2 / span 1;
  align-self:center;
  font-family: "lores-9-minus-narrow", monospace;
  color: white;
  text-shadow:1px 1px #b0b0b0;
  font-size: 2.2rem;
  text-transform: uppercase;
  max-width:8%
}

.inverseTitleColor {
  color: snow;
  text-shadow: 6px 4px #2cbae7;
}

.inverseSubtitleColor {
  color: black;
  text-shadow: 2px 4px snow;
  text-transform:lowercase;
}
