@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: grid;
  place-items: center;
  margin-bottom: 6%;
}

.carousel {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 114vh;
  margin: 6% 0 6% 0;
  background: linear-gradient(
    to right,
    silver 1%,
    white 2%,
    silver 3%,
    white 6%,
    gainsboro 10%,
    #e8e8e8 12%,
    whitesmoke 17%,
    snow 20%,
    whitesmoke 31%,
    white 41%,
    whitesmoke 51%,
    whitesmoke 71%,
    snow 75%,
    #e2e2e2 88%,
    snow 94%,
    silver 96%,
    whitesmoke 97%,
    silver 98%,
    white 99%
  );
  border-radius: 250px;
  box-shadow: 20px 12px 5px #e2e2e2;
  animation: fadeIn ease-out 2s;
}

.carousel > .prev {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: -3%;
  flex: 5%;
  height: 5%;
  display: grid;
  place-items: center;
  color: snow;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 2px 3px black, 4px 6px red;
  letter-spacing: 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}

.carousel > .next {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: -3%;
  flex: 5%;
  height: 5%;
  display: grid;
  place-items: center;
  color: red;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 2px 2px #b0b0b0, 4px 4px black;
  letter-spacing: 0.2rem;
  cursor: pointer;
  opacity: 0.2;
}

.prev:hover {
  font-size: 4.2rem;
  color: black;
  text-shadow: 2px 3px snow, 5px 5px red;
}

.next:hover {
  font-size: 4.2rem;
  color: #b0b0b0;
  text-shadow: 3px 3px black;
}

.blackShadow {
  color: black;
  text-shadow: 4px 4px snow, 6px 6px #b0b0b0;
  animation: fadeIn ease-out 1.3s;
}

.alternateShadow {
  color: #b0b0b0;
  text-shadow: 4px 4px snow, 6px 6px gainsboro;
}

.reducedLineation {
  font-size: 1.1rem;
}

@media (min-width: 1279px) and (orientation: landscape) {
  .carousel > .prev {
    left: 3%;
  }

  .carousel > .next {
    right: 3%;
  }
}

@media (width: 1180px) and (height: 820px) and (orientation: landscape) {
  .reducedLineation {
    font-size: 1rem;
  }
}

@media (width: 1080px) and (height: 810px) and (orientation: landscape) {
  .carousel {
    height: 67vh;
  }

  .reducedLineation {
    font-size: 0.85rem;
  }
}

@media (width: 1024px) and (height: 768px) and (orientation: landscape) {
  .carousel > .prev {
    top: 80%;
  }

  .reducedLineation {
    font-size: 0.9rem;
  }
}

@media (width: 1024px) and (height: 600px) {
  .reducedLineation {
    font-size: 0.92rem;
  }
}

@media (width: 926px) and (height: 428px) and (orientation: landscape) {
  .reducedLineation {
    font-size: 0.8rem;
  }
}

@media (max-width: 916px) and (orientation: landscape) {
  .carousel > .prev {
    top: 57%;
  }

  .reducedLineation {
    font-size: 0.75rem;
  }
}

@media (max-width: 897px) and (orientation: landscape) {
  .reducedLineation {
    font-size: 0.75rem;
  }
}

@media (min-width: 830px) and (orientation: portrait) {
  .reducedLineation {
    font-size: 0.8rem;
  }
}

@media (width: 820px) and (height: 1180px) and (orientation: portrait) {
  .carousel {
    height: 60vh;
  }

  .reducedLineation {
    font-size: 0.7rem;
  }
}

@media (width: 810px) and (height: 1080px) and (orientation: portrait) {
  .carousel {
    height: 60vh;
  }

  .reducedLineation {
    font-size: 0.67rem;
  }
}

@media (width: 800px) and (height: 1280px) and (orientation: portrait) {
  .carousel {
    height: 50vh;
  }

  .reducedLineation {
    font-size: 0.67rem;
  }
}

@media (max-width: 854px) and (orientation: landscape) {
  .carousel {
    height: 119vh;
  }

  .carousel > .prev {
    font-size: 3rem;
  }

  .carousel > .next {
    font-size: 3rem;
  }

  .reducedLineation {
    font-size: 0.65rem;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .reducedLineation {
    font-size: 0.63rem;
  }
}

@media (width: 540px) and (height: 720px) and (orientation: portrait) {
  .carousel {
    height: 90vh;
  }

  .reducedLineation {
    font-size: 0.55rem;
  }
}

@media (max-width: 429px) and (orientation: portrait) {
  .carousel {
    width: 99%;
    height: 60vh;
  }

  .carousel > .prev {
    font-size: 3rem;
    top: 67%;
    left: 0%;
  }

  .carousel > .next {
    font-size: 3.3rem;
    top: 1%;
    right: 0%;
  }

  .reducedLineation {
    font-size: 0.36rem;
  }
}

@media (width: 428px) and (height: 926px) and (orientation: portrait) {
  .carousel {
    height: 70vh;
  }

  .blackShadow {
    font-size: 3.2rem;
  }
}

@media (max-width: 394px) and (orientation: portrait) {
  .reducedLineation {
    font-size: 0.36rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .reducedLineation {
    font-size: 0.3rem;
  }
}

@media (max-height: 281px) and (orientation: landscape) {
  .carousel {
    height: 180vh;
  }
}
