.container {
  display:grid;
  place-items: center;
  margin-bottom:6%;
}

.carousel {
  position:relative;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  width:90%;
  height:120vh;
  margin:6% 0 6% 0;
  background:
    linear-gradient(to right, silver 1%, white 2%, silver 3%, white 6%, gainsboro 10%, #e8e8e8 12%, whitesmoke 17%, snow 20%,
      whitesmoke 31%, white 41%, whitesmoke 51%, whitesmoke 71%,
      snow 75%, #e2e2e2 88%, snow 94%, silver 96%, whitesmoke 97%, silver 98%, white 99%);
  border-radius:30px;
  box-shadow: 20px 12px 5px #e2e2e2;
}

.carousel > .prev {
  position:absolute;
  z-index: 1;
  top:50%;
  left:-3%;
  flex:5%;
  height:5%;
  display:grid;
  place-items:center;
  color:snow;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 3px black,
                4px 6px red;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.3;
}

.carousel > .next {
  position:absolute;
  z-index:1;
  top:50%;
  right:-3%;
  flex:5%;
  height:5%;
  display:grid;
  place-items:center;
  color:red;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 2px #b0b0b0,
                 4px 4px black;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.2;
}

.prev:hover {
  font-size:4.2rem;
  color:black;
  text-shadow:2px 3px snow,
             5px 5px red;
}

.next:hover {
  font-size:4.2rem;
  color:#b0b0b0;
  text-shadow:3px 3px black;
}

.blackShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.grayShadow {
  color:gainsboro;
  text-shadow:2px 2px black,
              4px 4px #b0b0b0;
  text-transform: uppercase;
  letter-spacing:1.4rem;
  line-height:5.4rem;
}

.inverse {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px red;
}

.asterisk {
  font-size:4rem;
  text-shadow:1px 1px red;
}

@media (max-height: 1369px) and (orientation:portrait) {

  .carousel {
    height:50vh;
  }

  .asterisk {
  font-size:3rem;
  display:inline-block;
  margin-top:11vh;
  }

 }

 @media (max-height: 1025px) and (orientation:landscape) {

   .asterisk {
   font-size:3rem;
   display:inline-block;
   margin-top:11vh;
   }

  }

@media (max-width: 916px) and (orientation:landscape) {

  .carousel {
    height:120vh;
  }

}

@media (width:540px) and (height:720px) and (orientation:portrait) {

  .carousel {
    height:80vh;
  }


}

@media (max-width: 429px) and (orientation:portrait) {

  .carousel {
    height:40vh;
  }

  .carousel > .prev {
    top:20%;
    left:-5%;
    font-size:3rem;
  }

  .carousel > .next {
    top:75%;
    right:-5%;
    font-size:3rem;
  }

  .asterisk {
  font-size:3rem;
  display:inline-block;
  margin-top:6vh;
  }

 }


 @media (max-width: 391px) and (orientation:portrait) {

   .carousel {
     height:45vh;
   }

   .asterisk {
   font-size:2rem;
   display:inline-block;
   margin-top:4vh;
   }

  }
