.title {
  font-family: "lores-9-plus-wide", monospace;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: -0.02rem;
  line-height: 1.4em;
  margin: 7vh 0 7vh 20vw;
}

.titleShadow {
  text-shadow: 2px 2px snow, 4px 4px black, 6px 6px #b0b0b0;
}

.epigraphAttribution {
  max-width: 70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 1px 1px #b0b0b0;
  letter-spacing: -0.02rem;
  line-height: 1.4em;
  text-align: right;
  margin: 2vh 0 2vh 9vw;
}

.sectionBreak {
  font-family: "lores-9-plus-wide", monospace;
  color: #b0b0b0;
  font-size: 2.5rem;
  text-align: left;
}

.pressAttribution {
  font-family: "lores-9-plus-wide", monospace;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: -0.02rem;
  line-height: 1.4em;
  margin: 7vh 0 7vh 0;
}

@media (max-width: 916px) and (orientation: landscape) {
  .epigraphAttribution {
    max-width: 88vw;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .title {
    font-size: 1.5rem;
    margin: 7vh 0 7vh 7vw;
  }

  .epigraphAttribution {
    max-width: 90vw;
    font-size: 1rem;
  }

  .titleTarget {
    font-size: 3rem;
  }
}

@media (max-width: 415px) and (orientation: portrait) {
  .pressAttribution {
    font-size: 1.2rem;
  }
}

@media (max-width: 376px) and (orientation: portrait) {
  .title {
    font-size: 1.4rem;
  }

  .epigraphAttribution {
    font-size: 0.8rem;
  }

  .titleTarget {
    font-size: 2.5rem;
  }
}

@media (max-width: 321px) and (orientation: portrait) {
  .title {
    font-size: 1.1rem;
  }

  .titleTarget {
    font-size: 2rem;
  }
}
