.blackShadow {
  color:white;
  font-size:4rem;
  font-style:italic;
  text-shadow:2px 2px 12px black;
}

.inverse {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.redShadow {
  font-size:4rem;
  text-shadow:1px 1px 6px #d10000;
  text-transform:lowercase;
}

.redShadowUppercase {
  font-size:4rem;
  text-shadow:1px 1px 6px #d10000;
  text-transform:uppercase;
}

.inverseUppercase {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  text-transform:uppercase;
}

.silverShadowUpper {
  color:white;
  text-shadow:2px 2px black,
              4px 4px 12px silver;
  text-transform: uppercase;
  font-style: normal;
}

.marginOne {
  margin-right:9vw;
}

.marginTwo {
  margin-right:6vw;
}

.marginThree {
  margin-right:3vw;
}

.marginFour {
  margin-right:9vw;
}

.marginFive {
  margin-right:25vw;
}

.poem {
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:2px 2px gainsboro;
  letter-spacing:-0.02rem;
  line-height:1.7em;
  margin-left:28vw;
}

.poemSpecial {
  display:inline;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:2px 2px gainsboro;
  letter-spacing:-0.02rem;
  line-height:1.7em;
}

.asteriskInverse {
  font-family: "base-9-sans", sans-serif;
  font-weight: 700;
  font-size:3.2rem;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  line-height:1.7em;
  margin-left:28vw;
}

.asteriskSilver {
  font-family: "base-9-sans", sans-serif;
  font-weight: 700;
  font-size:3.2rem;
  color:white;
  text-shadow:2px 2px black,
              4px 4px 12px silver;
  line-height:1.7em;
  margin-left:28vw;
}

.asteriskRed {
  font-family: "base-9-sans", sans-serif;
  font-weight: 700;
  font-size:3.2rem;
  color:white;
  text-shadow:1px 1px 6px #d10000;
  line-height:1.7em;
  margin-left:28vw;
}

.specialArrow {
  font-family: "base-9-sans", sans-serif;
  font-weight: 700;
  font-size:3.2rem;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  margin-left:28vw;
}

.altarText {
  font-family:"lores-9-plus-wide", monospace;
  color:white;
  text-shadow:2px 2px 29px black;
  font-size:1.5rem;
  font-weight: 500;
  letter-spacing:-0.02rem;
  margin-left:28vw;
  text-decoration: underline;

}
