.titleShadow {
  font-size: 2.6rem;
  color: white;
  text-shadow: 2px 5px 8px black, 4px 4px 14px #ee4b2b;
  letter-spacing: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.nameShadow {
  font-size: 3.7rem;
  text-shadow: 1px 2px white, 3px 3px #ee4b2b, 4px 6px white, 7px 8px black,
    9px 12px white, 11px 13px 16px gray;
  letter-spacing: 3rem;
}

.nameShadowUppercase {
  font-size: 3.7rem;
  text-shadow: 1px 2px white, 3px 3px #ee4b2b, 4px 6px white, 7px 8px black,
    9px 12px white, 11px 13px 16px gray;
  letter-spacing: 3rem;
  text-transform: uppercase;
}

.inverseNameShadow {
  font-size: 4.1rem;
  color: white;
  text-shadow: 4px 4px black, 6px 6px 16px dimgray;
  text-transform: uppercase;
}

.specialCursive {
  font-size: 5.5rem;
  font-family: "bickham-script-pro-3", sans-serif;
  font-weight: 400;
}

.poemTitle {
  max-width: 70vw;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 4.2rem;
  font-size: 3.7rem;
  color: white;
  text-shadow: 1px 2px black, 3px 3px #ee4b2b, 4px 6px white, 7px 8px black,
    9px 12px white, 11px 13px 16px gray;
  letter-spacing: 1rem;
  line-height: 1.4em;
  margin-left: 18vw;
  text-transform: lowercase;
  transform: rotate(-2deg);
}

.poemTitleTwo {
  max-width: 70vw;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 4.2rem;
  font-size: 3.7rem;
  color: white;
  text-shadow: 1px 2px black, 3px 3px #ee4b2b, 4px 6px white, 7px 8px black,
    9px 12px white, 11px 13px 16px gray;
  letter-spacing: 1rem;
  line-height: 1.4em;
  margin-left: 18vw;
  text-transform: uppercase;
  transform: rotate(2deg);
}

.poem {
  max-width: 70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 2px 2px gainsboro;
  letter-spacing: -0.02rem;
  line-height: 2.7em;
  margin-left: 23vw;
}
