.titleShadow {
  display: inline-block;
  font-size: 4.3rem;
  color: black;
  text-shadow: 2px 2px snow, 6px 6px #aaf0d1;
  letter-spacing: 1.7rem;
  transform: skew(19deg, 1.4deg);
}

.inverseShadow {
  color: snow;
  text-shadow: 1px 1px black, 5px 5px #aaf0d1, 7px 9px black;
}

.titleShadowUppercase {
  color: black;
  text-shadow: 2px 2px snow, 4px 4px #b0b0b0;
  text-transform: uppercase;
}

.inverseShadowUppercase {
  color: snow;
  text-shadow: 1px 1px black, 3px 5px #aaf0d1, 7px 9px black;
  text-transform: uppercase;
}

.extraMarginOne {
  margin-left: 7vw;
  line-height: 4rem;
}

.extraMarginTwo {
  margin-left: 12.5vw;
}

.shadowOne {
  font-size: 1.9rem;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 700;
  color: black;
  text-shadow: 2px 2px white, 3px 3px black, 4px 4px white, 5px 5px black;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

@media (max-width: 927px) and (orientation: landscape) {
  .titleShadow {
    font-size: 3.8rem;
    letter-spacing: 0.7rem;
  }
}

@media (max-width: 913px) and (orientation: portrait) {
  .titleShadow {
    font-size: 3rem;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .titleShadow {
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .titleShadow {
    margin-left: 1vw;
    font-size: 2.3rem;
    letter-spacing: 0.3rem;
  }

  .inverseShadow,
  .inverseShadowUppercase {
    text-shadow: 1px 1px black, 3px 3px #aaf0d1, 5px 5px black;
  }
}

@media (max-width: 429px) and (orientation: portrait) {
  .shadowOne {
    font-size: 1.3rem;
  }
}

@media (max-width: 394px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}

@media (max-width: 321px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.6rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.3rem;
  }
}
