@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.container {
  display:grid;
  place-items: center;
  margin-bottom:6%;
}

.carousel {
  position:relative;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  width:90%;
  height:80vh;
  margin:6% 0 6% 0;
  background:
    linear-gradient(to top right, silver 1%, white 2%, silver 3%, white 6%, gainsboro 10%, #e8e8e8 12%, whitesmoke 17%, snow 20%,
      whitesmoke 31%, white 41%, whitesmoke 51%, whitesmoke 71%,
      snow 75%, #e2e2e2 88%, snow 94%, silver 96%, whitesmoke 97%, silver 98%, white 99%);
  border-radius:15rem;
  box-shadow: 20px 12px 5px #e2e2e2;
  animation: fadeIn ease-out 2s;
}

.carousel > .prev {
  position:absolute;
  z-index: 1;
  top:60%;
  left:-3%;
  flex:5%;
  height:5%;
  display:grid;
  place-items:center;
  color:snow;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 3px black,
                4px 6px #2cbae7;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.3;
}

.carousel > .next {
  position:absolute;
  z-index:1;
  top:5%;
  right:-3%;
  flex:5%;
  height:20%;
  display:grid;
  place-items:center;
  color:#2cbae7;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 2px #b0b0b0,
                 4px 4px black;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.2;
}

.prev:hover {
  font-size:4.2rem;
  color:black;
  text-shadow:2px 3px snow,
             5px 5px #2cbae7;
}

.next:hover {
  font-size:4.2rem;
  color:#b0b0b0;
  text-shadow:3px 3px black;
}

.increasedSizeText {
  font-size:4.3rem;
  animation: fadeIn ease-out 1.3s;
}

.blackShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.grayShadow {
  color:gainsboro;
  text-shadow:2px 2px black,
              4px 4px #b0b0b0;
  text-transform: uppercase;
  letter-spacing:1.4rem;
  line-height:5.4rem;
}

.alternateShadow {
  color:#b0b0b0;
  text-shadow:4px 4px snow,
              6px 6px #2cbae7;
}

.blueLetter {
  color:#2cbae7;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.diagramText {
  font-family: "base-9-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:1.2rem;
  margin:0 auto;
  text-shadow:2px 2px gainsboro;
  letter-spacing:0.04rem;
  line-height:1.5em;
  animation: fadeIn ease-out 1.3s;
}

.roughAltText {
  font-family: "lores-9-wide", monospace;
  font-size:1.6rem;
  color:#b0b0b0;
  text-shadow:1px 1px white, 4px 4px gainsboro;
}

@media (max-width:927px) and (orientation:landscape) {

  .carousel {
    height:105vh;
  }

  .carousel > .prev {
    top:78%;
  }

  .carousel > .next {
    top:-12%;
  }

}

@media (max-width:821px) and (orientation:portrait) {

  .carousel {
    height:45vh;
  }

  .carousel > .prev {
    top:83%;
  }

  .carousel > .next {
    top:1%;
  }

  .diagramText {
    font-size:1.1rem;
  }


}

@media (max-width:813px) and (orientation:landscape) {


  .carousel > .next {
    top:-11%;
  }

  .diagramText {
    font-size:1rem;
  }

}

@media (max-width:788px) and (orientation:portrait) {

  .diagramText {
    font-size:1rem;
  }


}

@media (max-width:761px) and (orientation:landscape) {

  .carousel {
    height:125vh;
  }

  .carousel > .prev {
    top:66%;
  }

}

@media (max-width:667px) and (orientation:landscape) {

  .carousel > .prev {
    top:80%;
  }

  .increasedSizeText {
    font-size:3.6rem;
  }

  .diagramText {
    font-size:0.9rem;
  }

}

@media (width:540px) and (height:720px) and (orientation:portrait) {

  .carousel {
    height:75vh;
  }

  .increasedSizeText {
    font-size:3.2rem;
  }

  .diagramText {
    font-size:0.7rem;
  }

}

@media (max-width:429px) and (orientation:portrait) {

  .carousel {
    width:95%;
    height:55vh;
  }

  .carousel > .prev {
    font-size:3rem;
    top:85%;
  }

  .carousel > .next {
    font-size:3rem;
    top:-7%;
  }

  .roughAltText {
    font-size:1.4rem;
  }

  .increasedSizeText {
    font-size:2.5rem;
  }

  .diagramText {
    font-size:0.51rem;
  }
}

@media (max-width:385px) and (orientation:portrait) {

  .carousel {
    height:79vh;
  }

  .increasedSizeText {
    font-size:2.3rem;
  }

  .diagramText {
    font-size:0.45rem;
  }
}

@media (max-width:281px) and (orientation:portrait) {

  .carousel {
    height:120vh;
  }

  .increasedSizeText {
    font-size:1.7rem;
  }

  .diagramText {
    font-size:0.3rem;
  }
}

@media (max-height:281px) and (orientation:landscape) {

  .carousel {
    height:180vh;
  }
}
