.titleShadow {
  text-shadow:2px 2px snow,
              4px 4px black;
}

.inverseShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.poemTitle {
  max-width:70vw;
  font-family:"lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size:2.2rem;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-left:18vw;
  text-transform:lowercase;
}

.poem {
  max-width:70vw;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:1px 1px #b0b0b0;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-left:18vw;
}

@media (max-height:721px) and (orientation:portrait) {

  .title {
    font-size:2.5rem;
  }

  .poem {
    max-width:99vw;
    font-size:1rem;
    margin-left:5vw;
  }

}

@media (max-width:429px) and (orientation:portrait) {
  .title {
    font-size:2.1rem;
  }

  .poemTitle {
    max-width:99vw;
    margin-left:6vw;
  }

  .poem {
    font-size:0.9rem;
    margin-left:1vw;
  }
}

@media (max-width:394px) and (orientation:portrait) {

  .title {
    font-size:2rem;
  }

  .poem {
    font-size:0.8rem;
  }
}

  @media (max-width:376px) and (orientation:portrait) {
    .title {
      font-size:1.9rem;
    }

}

@media (max-width:281px) and (orientation:portrait) {

  .title {
    font-size:1.5rem;
  }

  .poem {
    font-size:0.6rem;
  }

}

@media (max-height:281px) and (orientation:landscape) {

  .title {
    font-size:2.8rem;
  }

  .poem {
    max-width:99%;
    font-size:1.1rem;
  }

}
