.titleShadow {
  display: inline-block;
  font-size: 4.1rem;
  color:white;
  text-shadow: 2px 2px black, 4px 4px white, 6px 6px black, 8px 8px white, 10px 10px #FAA0A0, 12px 12px black, 14px 14px gainsboro;
  letter-spacing: 1rem;
  line-height: 9rem;
}

.blue {
    color: #FAA0A0;

}

.blueUpper {
    color: #FAA0A0;
    text-transform: uppercase;

}

.fade {
  opacity: 0.3;
}

.fadeLower {
  text-transform: lowercase;
  opacity: 0.3;
}


.fadeUpper {
  text-transform: uppercase;
  opacity: 0.3;
}

.uppercase {
  text-transform: uppercase;
}

.storyTitle {
  max-width: 12vw;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2.9rem;
  color: white;
  text-shadow: 3px 3px black, 5px 5px white, 6px 6px #FAA0A0, 9px 9px black, 14px 14px 4px #FAA0A0;
  letter-spacing: 1rem;
  line-height: 1.4em;
  margin-left: 58vw;
  text-transform: uppercase;
}

.storyTitleTwo {
  max-width: 12vw;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2.9rem;
  color: white;
  text-shadow: 3px 3px black, 5px 5px white, 6px 6px #FAA0A0, 9px 9px black, 14px 14px 4px #FAA0A0;
  letter-spacing: 1rem;
  line-height: 1.4em;
  margin-left: 38vw;
  text-transform: uppercase;
}

.proseBox {
  max-width: 70vw;
  margin-left: 15vw;
  font-size:1.25rem;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-shadow: 2px 2px gainsboro;
  letter-spacing: -0.02rem;
  line-height: 1.7em;
}

.boldHeader {
    margin-left: 26vw;
    font-size: 2.4rem;
    color:black;
    font-family: "lores-9-plus-wide", monospace;
    text-shadow: 1px 1px white, 3px 3px #FAA0A0, 5px 5px white, 7px 7px 12px black;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing:0.3rem;
}

.boldHeaderTwo {
    margin-left: 21vw;
    font-size: 2.4rem;
    color:white;
    font-family: "lores-9-plus-wide", monospace;
    text-shadow: 2px 2px black, 3px 3px #FAA0A0, 5px 5px white, 7px 7px 12px black;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing:0.3rem;
}

.boldHeaderThree {
    margin-left: 18vw;
    font-size: 2.4rem;
    color:black;
    font-family: "lores-9-plus-wide", monospace;
    text-shadow: 1px 1px white, 3px 3px #FAA0A0, 5px 5px white, 7px 7px 12px black;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing:0.3rem;
}

@media (width: 1366px) and (height: 1024px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1280px) and (height: 853px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.1rem;
  }
}

@media (width: 1280px) and (height: 800px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1210px) and (height: 834px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.1rem;
  }
}

@media (width: 1180px) and (height: 820px) {

   .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1138px) and (height: 712px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1133px) and (height: 744px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1080px) and (height: 810px) {

   .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1024px) and (height: 1366px) {

   .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1024px) and (height: 768px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (width: 1024px) and (height: 600px) {

  .proseBox {
    max-width: 80vw;
    margin-left:10vw;
    font-size:1.2rem;
  }
}

@media (max-width: 957px) and (orientation: landscape) {

  .proseBox {
    max-width: 80vw;
    margin-left:9vw;
    font-size: 1rem;
  }
}

@media (max-width: 913px) and (orientation: portrait) {
  .titleShadow {
    font-size: 4.5rem;
  }

  .proseBox {
    font-size: 0.95rem;
  }
}

@media (max-width: 854px) and (orientation: landscape) {

   .titleShadow {
    font-size: 3.5rem;
  }

  .poemTitle {
    margin-left:36vw;
}

}

@media (max-width: 541px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2.7rem;
  }

   .proseBox {
    max-width: 90vw;
    font-size: 0.9rem;
    margin-left:3vw;
  }

  .boldHeader {
    font-size: 2.3rem;
  }
}


@media (max-width: 376px) and (orientation: portrait) {

.titleShadow {
    font-size: 2.5rem;
  }

.proseBox {
    font-size:0.55rem;
  }
}
