.faintShadowMain {
    display:inline-block;
    margin-left:4.6vw;
    font-size: 4.9rem;
    text-shadow: 5px 5px snow, 10px 10px gainsboro;
    letter-spacing: 3.4rem;
    transform: skew(12deg, 1.4deg);
  }
  
  .faintShadowMainTwo {
    display:inline-block;
    margin-left:15vw;
    font-size: 4.3rem;
    text-shadow: 5px 5px snow, 10px 10px gainsboro;
    letter-spacing: 3.4rem;
    transform: skew(-12deg, 1.4deg);
  }

  .uppercaseFaintShadow {
    text-transform: uppercase;
  }
  
  .faintShadowAncillary {
    font-size: 3.3rem;
    text-shadow: 4px 4px snow, 8px 8px gainsboro;
    letter-spacing: 0.4rem;
  }
  
  .alternateTitleColor {
    font-size: 4.3rem;
    color: black;
    text-shadow: 4px 4px snow, 8px 8px gainsboro;
    letter-spacing: 0.4rem;
  }
  
  .uppercaseAlternateTitleColor {
    font-size: 3.3rem;
    color: black;
    text-shadow: 4px 4px snow, 8px 8px gainsboro;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }

  .authorName {
    font-size: 5.5rem;
    font-family: "bickham-script-pro-3", sans-serif;
    font-weight:700;
    text-align:right;
    text-transform:capitalize;
    letter-spacing:-0.02rem;
    line-height:0.8em;
    margin:14vh 7vw 7vh 0;
  }

  .ellipses {
    letter-spacing:3rem;
  }