.margin {
  margin: -25vh 0 0 0;
}

.marginTwo {
  margin: -22vh 0 -10vh 0;
}

.faintShadowMain {
  display: inline-block;
  margin-left: 4.6vw;
  font-size: 4.9rem;
  text-shadow: 5px 5px snow, 10px 10px gainsboro;
  letter-spacing: 1.4rem;
  transform: skew(12deg, 1.4deg);
}

.faintShadowMainTwo {
  display: inline-block;
  margin-left: 5vw;
  font-size: 4.3rem;
  text-shadow: 5px 5px snow, 10px 10px gainsboro;
  letter-spacing: 1.4rem;
  transform: skew(-12deg, 1.4deg);
}

.faintShadowMainThree {
  display: inline-block;
  margin-left: 7vw;
  font-size: 4.3rem;
  text-shadow: 5px 5px snow, 10px 10px gainsboro;
  letter-spacing: 1.4rem;
  transform: skew(-12deg, 7.4deg);
}

.faintShadowMainFour {
  display: inline-block;
  margin-left: 5.6vw;
  font-size: 4.9rem;
  text-shadow: 5px 5px snow, 10px 10px gainsboro;
  letter-spacing: 2.4rem;
  transform: skew(12deg, 1.4deg);
}

.uppercaseFaintShadow {
  text-transform: uppercase;
}

.alternateTitleColor {
  font-family: "bickham-script-pro-3", sans-serif;
  font-size: 14.3rem;
  color: black;
  text-shadow: 4px 4px snow, 8px 8px gainsboro;
}

.alternateTitleColorGray {
  display: inline-block;
  margin-left: 4vw;
  font-family: "bickham-script-pro-3", sans-serif;
  font-size: 14.3rem;
  text-shadow: 4px 4px snow, 8px 8px gainsboro;
}

.uppercaseAlternateTitleColor {
  font-size: 3.3rem;
  color: black;
  text-shadow: 4px 4px snow, 8px 8px gainsboro;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.authorName {
  font-size: 5.5rem;
  font-family: "bickham-script-pro-3", sans-serif;
  font-weight: 400;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: -0.02rem;
  line-height: 0.8em;
  margin: 1vh 7vw 7vh 0;
}

.ellipses {
  letter-spacing: 3rem;
}

.sectionBreak {
  font-family: "lores-9", monospace;
  font-weight: 400;
  font-size: 6.2rem;
  color: white;
  text-shadow: 1px 1px 6px #d10000;
  text-align: center;
}

@media (max-width: 927px) and (orientation: landscape) {

  .margin {
    margin: -10vh 0 0 7vw;
  }

  .marginTwo {
    margin: -6vh 0 -10vh 5vw;
  }
  

  .faintShadowMain, .faintShadowMainTwo, .faintShadowMainThree, .faintShadowMainFour {
    font-size:3.4rem;
    letter-spacing: 1.2rem;
  }

  .uppercaseFaintShadow,
  .uppercaseAlternateTitleColor,
  .faintShadowAncillary,
  .alternateTitleColorGray {
    font-size: 3.9rem;
    letter-spacing: 1.2rem;
  }

  .alternateTitleColor, .alternateTitleColorGray {
    font-size:8.9rem;
  }

  .authorName {
    font-size: 4.5rem;
  }
}

@media (max-width: 913px) and (orientation: portrait) {

  .marginTwo {
    margin: -12vh 0 -10vh 0;
  }
  

  .faintShadowMain, .faintShadowMainTwo, .faintShadowMainThree, .faintShadowMainFour {
    font-size: 2.7rem;
    letter-spacing: 0.2rem;
  }

  .uppercaseFaintShadow,
  .uppercaseAlternateTitleColor,
  .faintShadowAncillary,
  .alternateTitleColorGray {
    font-size: 2.9rem;
    letter-spacing: 0.2rem;
  }

  .alternateTitleColor, .alternateTitleColorGray {
    font-size:5.9rem;
  }

  .authorName {
    font-size: 4rem;
  }
}


@media (max-width: 761px) and (orientation: landscape) {

  .margin {
    margin: -10vh 0 0 5vw;
  }

  .marginTwo {
    margin: -6vh 0 -10vh 3vw;
  }
  

  .faintShadowMain, .faintShadowMainTwo, .faintShadowMainThree, .faintShadowMainFour {
    font-size:3.2rem;
    letter-spacing: 1.2rem;
  }

  .uppercaseFaintShadow,
  .uppercaseAlternateTitleColor,
  .faintShadowAncillary,
  .alternateTitleColorGray {
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
  }

  .alternateTitleColor, .alternateTitleColorGray {
    font-size:8.2rem;
  }
}

@media (max-width: 721px) and (orientation: landscape) {

  .margin {
    margin: -10vh 0 0 5vw;
  }

  .marginTwo {
    margin: -6vh 0 -10vh 3vw;
  }
  

  .faintShadowMain, .faintShadowMainTwo, .faintShadowMainThree, .faintShadowMainFour {
    font-size:3rem;
    letter-spacing: 1rem;
  }

  .uppercaseFaintShadow,
  .uppercaseAlternateTitleColor,
  .faintShadowAncillary,
  .alternateTitleColorGray {
    font-size: 3.2rem;
    letter-spacing: 1rem;
  }

  .alternateTitleColor, .alternateTitleColorGray {
    font-size:7.2rem;
  }
}

@media (max-width: 415px) and (orientation: portrait) {

  .marginTwo {
    margin: -12vh 0 -10vh 0;
  }
  

  .faintShadowMain, .faintShadowMainTwo, .faintShadowMainThree, .faintShadowMainFour {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
  }

  .uppercaseFaintShadow,
  .uppercaseAlternateTitleColor,
  .faintShadowAncillary,
  .alternateTitleColorGray {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
  }
  
  .alternateTitleColor, .alternateTitleColorGray {
    font-size:3.9rem;
  }

  .authorName {
    font-size: 3.5rem;
  }

}

@media (max-width: 321px) and (orientation: portrait) {
  

  .faintShadowMain, .faintShadowMainTwo, .faintShadowMainThree, .faintShadowMainFour {
    font-size: 2rem;
  }

  .uppercaseFaintShadow,
  .uppercaseAlternateTitleColor,
  .faintShadowAncillary,
  .alternateTitleColorGray {
    font-size: 2.3rem;
  }

  .authorName {
    font-size: 3.2rem;
  }

}

@media (max-width: 281px) and (orientation: portrait) {
  

  .faintShadowMain, .faintShadowMainTwo, .faintShadowMainThree, .faintShadowMainFour {
    font-size: 1.8rem;
  }

  .uppercaseFaintShadow,
  .uppercaseAlternateTitleColor,
  .faintShadowAncillary,
  .alternateTitleColorGray {
    font-size: 2rem;
  }

  .authorName {
    font-size: 2.6rem;
  }

}

