@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.containerContainer {
  width:97vw;
  height:130vh;
  margin:16vh 0 0 1vw;
  background: linear-gradient(
      to right,
      black 1%,
      white 2%,
      silver 3%,
      white 6%,
      gainsboro 10%,
      #e8e8e8 12%,
      whitesmoke 17%,
      snow 20%,
      #aaf0d1 31%,
      white 41%,
      black 51%,
      whitesmoke 71%,
      snow 75%,
      #e2e2e2 88%,
      #aaf0d1 94%,
      black 96%,
      whitesmoke 97%,
      dimgray 98%,
      white 99%
    );
  box-shadow: 20px 12px 15px gray;
  border-radius:2rem;
}

.containerContainerContainer {
  width:98.5%;
  height:97.5%;
  box-shadow: inset 20px 12px 5px #e2e2e2;
  border-radius:2rem;
}
  
  .container {
    display: grid;
    place-items: center;
    margin-bottom: 6%;
    width:97.5%;
    height:95%;
    box-shadow: 20px 12px 5px #aaf0d1;
    border-radius:2rem;
  }

  .textContainerContainer {
    position: relative;
    width: 90%;
    height: 90%;
    background: linear-gradient(
      to bottom,
      silver 1%,
      white 2%,
      black 3%,
      #aaf0d1 6%,
      gainsboro 10%,
      #e8e8e8 12%,
      whitesmoke 17%,
      snow 20%,
      whitesmoke 31%,
      white 41%,
      whitesmoke 51%,
      whitesmoke 71%,
      snow 75%,
      silver 88%,
      snow 94%,
      black 96%,
      whitesmoke 97%,
      dimgray 98%,
      white 99%
    );
    box-shadow: 20px 12px 5px dimgray;
    border-radius:2rem;
  }

  .box {
      position: absolute;
      width: 103%;
      height: 80%;
      margin: 6% 0 6% 0;
      background: linear-gradient(
      to bottom right,
      snow 1%,
      white 2%,
      #aaf0d1 3%,
      white 4%,
      gainsboro 10%,
      #e8e8e8 12%,
      whitesmoke 17%,
      snow 20%,
      whitesmoke 31%,
      gray 41%,
      whitesmoke 51%,
      whitesmoke 71%,
      snow 75%,
      black 88%,
      snow 94%,
      #aaf0d1 96%,
      snow 97%,
      #e8e8e8 98%,
      white 99%
    );
      box-shadow: inset 20px 12px 5px #e2e2e2;
      border-radius:2rem;
  }

  .textContainer {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 106%;
    height: 90%;
    left:10px;
    margin: 6% 0 6% 0;
    background: linear-gradient(
    to bottom,
    snow 1%,
    white 2%,
    gainsboro 3%,
    white 6%,
    #aaf0d1 7%,
    gainsboro 10%,
    #e8e8e8 12%,
    whitesmoke 17%,
    snow 20%,
    whitesmoke 31%,
    white 41%,
    whitesmoke 71%,
    snow 75%,
    whitesmoke 88%,
    snow 94%,
    #aaf0d1 96%,
    snow 97%,
    #e8e8e8 98%,
    white 99%
  );
    box-shadow: 20px 12px 5px #e2e2e2;
    cursor:pointer;
    border-radius:2rem;
  }
  
  .titleShadowOne {
    font-size: 4.3rem;
    color: black;
    text-shadow: 2px 2px snow, 4px 4px #b0b0b0;
    letter-spacing: 6.2rem;
    line-height:14vh;
  }

  .inverseShadow {
    color: #aaf0d1;
    text-shadow: 2px 3px white, 3px 4px black, 3px 4px white, 6px 12px 12px black;
  }

  .inverseShadowAlternate {
    color: #aaf0d1;
    text-shadow: 2px 2px snow, 4px 5px black;  }

  .titleShadowUppercase {
    color: black;
    text-shadow: 1px 2px snow, 4px 6px #aaf0d1, 5px 7px white, 6px 8px black;
    text-transform: uppercase;
  }

  .inverseShadowUppercase {
    color: #aaf0d1;
    text-shadow: 2px 2px snow, 4px 5px black;
    text-transform: uppercase;
  }
  
  .titleShadowTwo {
    font-size: 4.3rem;
    color: black;
    text-shadow: 2px 2px snow, 3px 4px white, 12px 12px #aaf0d1;
    letter-spacing: 4rem;
    line-height:26vh;
  }

  .proofText {
    font-family:"lores-9-plus-wide";
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    color:white;
    text-shadow: 2px 4px black, 3px 5px #aaf0d1, 4px 7px gainsboro, 4px 8px 16px black;
  }

  .proofTextHalfReduced {
    font-family:"lores-9-plus-wide";
    font-size: 1.64rem;
    font-weight: 700;
    letter-spacing: -0.035rem;
    color:white;
    text-shadow: 2px 4px black, 3px 5px #aaf0d1, 4px 7px gainsboro, 4px 8px 16px black;
  }

  .proofTextReduced {
    font-family:"lores-9-plus-wide";
    font-size: 1.45rem;
    font-weight: 700;
    letter-spacing: -0.035rem;
    color:white;
    text-shadow: 2px 4px black, 3px 5px #aaf0d1, 4px 7px gainsboro, 4px 8px 16px black;
  }

  .specialProofText {
    font-family:"lores-9-plus-wide";
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: -0.035rem;
    color:black;
    text-shadow: 2px 4px white, 3px 5px #aaf0d1, 4px 7px gainsboro, 4px 8px 16px black;
  }

  .specialProofTextTwo {
    font-family:"lores-9-plus-wide";
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: -0.035rem;
    color:black;
    text-shadow: 2px 4px white, 3px 5px #aaf0d1, 4px 7px gainsboro, 4px 8px 16px black;
  }

  .specialProofTextReduced {
    font-family:"lores-9-plus-wide";
    font-size: 1.48rem;
    font-weight: 700;
    letter-spacing: -0.035rem;
    color:black;
    text-shadow: 2px 4px white, 3px 5px #aaf0d1, 4px 7px gainsboro, 4px 8px 16px black;
  }