@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.containerContainer {
  width:97vw;
  height:130vh;
  margin:16vh 0 0 1vw;
  background: linear-gradient(
      to right,
      black 1%,
      white 2%,
      silver 3%,
      white 6%,
      gainsboro 10%,
      #e8e8e8 12%,
      whitesmoke 17%,
      snow 20%,
      whitesmoke 31%,
      white 41%,
      black 51%,
      whitesmoke 71%,
      snow 75%,
      #e2e2e2 88%,
      snow 94%,
      black 96%,
      whitesmoke 97%,
      dimgray 98%,
      white 99%
    );
  box-shadow: 20px 12px 15px gray;
  border-radius:2rem;
}

.containerContainerContainer {
  width:98.5%;
  height:97.5%;
  box-shadow: inset 20px 12px 5px #e2e2e2;
  border-radius:2rem;
}
  
  .container {
    display: grid;
    place-items: center;
    margin-bottom: 6%;
    width:97.5%;
    height:95%;
    box-shadow: 20px 12px 5px gainsboro;
    border-radius:2rem;
  }

  .textContainerContainer {
    position: relative;
    width: 90%;
    height: 90%;
    background: linear-gradient(
      to bottom,
      silver 1%,
      white 2%,
      black 3%,
      white 6%,
      gainsboro 10%,
      #e8e8e8 12%,
      whitesmoke 17%,
      snow 20%,
      whitesmoke 31%,
      white 41%,
      whitesmoke 51%,
      whitesmoke 71%,
      snow 75%,
      silver 88%,
      snow 94%,
      black 96%,
      whitesmoke 97%,
      dimgray 98%,
      white 99%
    );
    box-shadow: 20px 12px 5px dimgray;
    border-radius:2rem;
  }

  .box {
      position: absolute;
      width: 103%;
      height: 80%;
      margin: 6% 0 6% 0;
      background: linear-gradient(
      to bottom right,
      snow 1%,
      white 2%,
      #2cbae7 3%,
      white 4%,
      gainsboro 10%,
      #e8e8e8 12%,
      whitesmoke 17%,
      snow 20%,
      whitesmoke 31%,
      gray 41%,
      whitesmoke 51%,
      whitesmoke 71%,
      snow 75%,
      black 88%,
      snow 94%,
      #2cbae7 96%,
      snow 97%,
      #e8e8e8 98%,
      white 99%
    );
      box-shadow: inset 20px 12px 5px #e2e2e2;
      border-radius:2rem;
  }

  .textContainer {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 106%;
    height: 70%;
    right:10px;
    margin: 6% 0 6% 0;
    background: linear-gradient(
    to bottom,
    snow 1%,
    white 2%,
    gainsboro 3%,
    white 6%,
    gainsboro 10%,
    #e8e8e8 12%,
    whitesmoke 17%,
    snow 20%,
    whitesmoke 31%,
    white 41%,
    whitesmoke 51%,
    whitesmoke 71%,
    snow 75%,
    whitesmoke 88%,
    snow 94%,
    whitesmoke 96%,
    snow 97%,
    #e8e8e8 98%,
    white 99%
  );
    box-shadow: 20px 12px 5px #e2e2e2;
    cursor:pointer;
    border-radius:2rem;
  }
  
  .blackShadow {
    color: black;
    text-shadow: 4px 4px snow, 6px 6px #b0b0b0;
    letter-spacing:0.7rem;
  }
  
  .grayShadow {
    color: gainsboro;
    text-shadow: 2px 2px black, 4px 4px #b0b0b0;
    text-transform: uppercase;
    letter-spacing: 1.4rem;
    line-height: 5.4rem;
  }
  
  .alternateShadow {
    color: #b0b0b0;
    text-shadow: 4px 4px snow, 6px 6px #2cbae7;
  }
  
  .blueLetter {
    color: #2cbae7;
    text-shadow: 4px 4px snow, 6px 6px #b0b0b0;
  }

  .proofText {
    font-family:"lores-9-plus-wide";
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.085rem;
    color:white;
    text-shadow: 2px 3px black, 3px 4px #2cbae7, 4px 7px gainsboro, 4px 8px 16px black;
  }

  .extraLetterSpace {
    letter-spacing: 0.2rem;
  }
  
  @media (max-width: 927px) and (orientation: landscape) {
    .carousel {
      height: 105vh;
    }
  
    .carousel > .prev {
      top: 78%;
    }
  
    .carousel > .next {
      top: -12%;
    }
  
    .diagramText {
      font-size: 1.1rem;
    }
  }
  
  @media (width: 834px) and (height:1194px) {
  
    .diagramText {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 821px) and (orientation: portrait) {
    .carousel {
      height: 45vh;
    }
  
    .carousel > .prev {
      top: 83%;
    }
  
    .carousel > .next {
      top: 1%;
    }
  
    .diagramText {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 813px) and (orientation: landscape) {
    .carousel > .next {
      top: -11%;
    }
  
    .diagramText {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 788px) and (orientation: portrait) {
    .diagramText {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 761px) and (orientation: landscape) {
    .carousel {
      height: 125vh;
    }
  
    .carousel > .prev {
      top: 66%;
    }
  }
  
  @media (max-width: 667px) and (orientation: landscape) {
    .carousel > .prev {
      top: 80%;
    }
  
    .increasedSizeText {
      font-size: 3.6rem;
    }
  
    .diagramText {
      font-size: 0.8rem;
    }
  }
  
  @media (width: 540px) and (height: 720px) and (orientation: portrait) {
    .carousel {
      height: 75vh;
    }
  
    .increasedSizeText {
      font-size: 3.2rem;
    }
  
    .diagramText {
      font-size: 0.7rem;
    }
  }
  
  @media (max-width: 429px) and (orientation: portrait) {
    .carousel {
      width: 95%;
      height: 55vh;
    }
  
    .carousel > .prev {
      left:0;
      font-size: 3rem;
      top: 85%;
    }
  
    .carousel > .next {
      right:0;
      font-size: 3rem;
      top: -7%;
    }
  
    .roughAltText {
      font-size: 1.4rem;
    }
  
    .increasedSizeText {
      font-size: 2.5rem;
    }
  
    .diagramText {
      font-size: 0.51rem;
    }
  }
  
  @media (max-width: 385px) and (orientation: portrait) {
    .carousel {
      height: 79vh;
    }
  
    .increasedSizeText {
      font-size: 2.3rem;
    }
  
    .diagramText {
      font-size: 0.45rem;
    }
  }
  
  @media (max-width: 321px) and (orientation: portrait) {
  
    .diagramText {
      font-size: 0.37rem;
    }
  }
  
  @media (max-width: 281px) and (orientation: portrait) {
    .carousel {
      height: 120vh;
    }
  
    .increasedSizeText {
      font-size: 1.7rem;
    }
  
    .diagramText {
      font-size: 0.3rem;
    }
  }
  
  @media (max-height: 281px) and (orientation: landscape) {
    .carousel {
      height: 180vh;
    }
  }
  