.titleShadow {
  color:black;
  text-shadow:2px 2px snow,
              4px 4px #b0b0b0;
}

.inverseShadow {
  color:#aaf0d1;
  text-shadow:4px 4px snow,
              6px 6px black;
}

.titleShadowUppercase {
  color:black;
  text-shadow:2px 2px snow,
              4px 4px #b0b0b0;
  text-transform:uppercase;
}

.inverseShadowUppercase {
  color:#aaf0d1;
  text-shadow:4px 4px snow,
              6px 6px black;
  text-transform:uppercase;
}

.sectionBreak {
  font-family:"lores-9-plus-wide", monospace;
  color:#b0b0b0;
  font-size:2.5rem;
  text-align:center;
}

.grayShadowSpecial {
  font-size:1.5rem;
  color:#b0b0b0;
  font-family:"lores-9-plus-wide", monospace;
  text-shadow:1px 1px snow,
              2px 2px black;
  letter-spacing:0.4rem;
  font-style: italic;
}
