.titleShadow {
  text-shadow:2px 2px snow,
              4px 4px black;
}

.inverseShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}


.rat {
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  text-shadow:2px 2px gainsboro;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-left:18vw;
}


.ratAsterisk {
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:3.2rem;
  color:#b0b0b0;
  letter-spacing:-0.02rem;
  margin-left:18vw;
}

@media (width:540px) and (height:720px) and (orientation:portrait)  {

  .rat {
  font-size:1.1rem;
  margin-left:4vw;
}
}

@media (width:428px) and (height:926px) and (orientation:portrait)  {

  .titleShadow {
    font-size:2.8rem;
  }
  .rat {
  font-size:0.85rem;
}
}

@media (max-width:429px) and (orientation:portrait) {


  .rat {
  text-shadow:none;
}
}

@media (max-width:415px) and (orientation:portrait) {


  .rat {
  font-size:0.91rem;
  margin-left:4vw;
  text-shadow:none;
}
}

@media (max-width:385px) and (orientation:portrait) {


  .rat {
  font-size:0.8rem;
}
}

@media (max-width:281px) and (orientation:portrait) {


  .rat {
  font-size:0.65rem;
}
}
