.rightBlackTitle {
  font-family:"lores-9-plus-wide";
  font-size:2rem;
  font-weight:700;
  text-align:right;
  text-transform:lowercase;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin:14vh 7vw 7vh 0;
}

@media (max-width: 767.98px) {

  .rightBlackTitle {
    font-size:1.4rem;
  }


 }
