.titleShadow {
  text-shadow: 5px 5px snow, 10px 10px silver, 14px 14px gainsboro;
}

.nameShadow {
  display: inline-block;
  margin-left: 13.5vw;
  color: white;
  font-size: 3.6rem;
  text-shadow: 1px 1px black, 4px 4px 16px black;
  text-transform: uppercase;
  opacity: 0.6;
  transform: rotate(24deg);
}

.nameShadowSpecial {
  display: inline-block;
  margin: 5vh 0 0 35.5vw;
  color: white;
  font-size: 3.6rem;
  text-shadow: 1px 1px black, 4px 4px 16px black;
  text-transform: uppercase;
  opacity: 0.6;
  transform: rotate(-24deg);
}

.inverseNameShadow {
  margin-left: 3.5vw;
  font-size: 4.1rem;
  color: #ffcccb;
  text-shadow: 4px 4px snow, 8px 8px black, 12px 12px snow, 6px 6px 16px black;
  text-transform: lowercase;
}

.inverseNameShadowSpecial {
  display: inline-block;
  margin: 5vh 0 0 22.5vw;
  font-size: 4.1rem;
  color: #ffcccb;
  text-shadow: 4px 4px snow, 8px 8px black, 12px 12px snow, 6px 6px 16px black;
  text-transform: lowercase;
  transform: rotate(18deg);
}

.blackAlternate {
  font-size: 4.1rem;
  color: black;
  text-shadow: 4px 4px snow, 5px 5px 15px #ffcccb;
}

.blackAlternateUppercase {
  display: inline-block;
  margin-right: 9.5vw;
  font-size: 4.1rem;
  color: black;
  text-shadow: 4px 4px snow, 5px 5px 15px #ffcccb;
  text-transform: uppercase;
  transform: rotate(-12deg);
}

.nameSpacing {
  letter-spacing:2.2rem;
}

.poemTitle {
  max-width: 70vw;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2.2rem;
  color: lightgray;
  text-shadow: 3px 3px snow, 6px 6px black, 4px 4px 12px black;
  letter-spacing: -0.02rem;
  line-height: 1.4em;
  margin-left: 18vw;
  text-transform: uppercase;
  transform: rotate(2deg);
}

.poemTitleTwo {
  max-width: 70vw;
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2.2rem;
  color: lightgray;
  text-shadow: 3px 3px snow, 6px 6px black, 4px 4px 12px black;
  letter-spacing: -0.02rem;
  line-height: 1.4em;
  margin-left: 18vw;
  text-transform: uppercase;
  transform: rotate(-2deg);
}

.poem {
  max-width: 70vw;
  font-family: "base-9-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: 2px 2px gainsboro;
  letter-spacing: -0.02rem;
  line-height: 1.7em;
  margin-left: 18vw;
}

@media (max-width: 927px) and (orientation: landscape) {
  .poem {
    margin-left: 12vw;
  }
}

@media (max-width: 835px) and (orientation: portrait) {
  .poem {
    margin-left: 6vw;
  }
}

@media (max-width: 745px) and (orientation: landscape) {
  .poem {
    font-size: 1rem;
    margin-left: 2vw;
  }
}

@media (max-width: 801px) and (orientation: landscape) {
  .poem {
    margin-left: 6vw;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .nameShadow {
    font-size: 2.7rem;
  }

  .inverseNameShadow,
  .mintAlternate,
  .mintAlternateUppercase {
    font-size: 3.1rem;
  }

  .poem {
    margin-left: 2vw;
    font-size: 0.8rem;
  }
}

@media (max-width: 429px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2.2rem;
  }

  .poemTitle {
    font-size: 1.6rem;
  }

  .poem {
    font-size: 0.69rem;
  }
}

@media (max-width: 405px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.8rem;
  }

  .poemTitle {
    font-size: 1.4rem;
  }

  .poem {
    font-size: 0.61rem;
    margin-left: 2vw;
  }
}

@media (max-width: 354px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.6rem;
  }

  .poemTitle {
    font-size: 1.2rem;
  }

  .poem {
    font-size: 0.55rem;
    margin-left: 1vw;
  }
}
