.authorName {
  max-width:70vw;
  margin: 19vh 0 7vh 9vw;
  font-family:"lores-9-plus-wide-bold-alt";
  color:#b0b0b0;
  opacity: 1;
  font-size:2.7rem;
  font-weight:400;
  text-align:left;
  text-transform:lowercase;
}

.compositionTitle {
  max-width:70vw;
  margin: 19vh 0 11vh 9vw;
  font-family:"lores-9-plus-wide";
  font-size:2rem;
  font-weight:700;
  font-style:normal;
  text-align:left;
  text-transform:lowercase;
  letter-spacing:-0.02rem;
  line-height:1.4em;
}

.poemTitle {
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size:1.2rem;
  text-align:center;
  text-transform: uppercase;
  letter-spacing:0.4rem;
  line-height:1.4em;
  margin-top:15vh;
}

.standardLineation {
  max-width:30vw;
  margin:0 auto;
  font-family: "astoria-sans-medium-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:1.2rem;
  letter-spacing:-0.02rem;
  line-height:1.4em;
}
