.titleShadow {
  text-shadow: 2px 2px snow, 4px 4px black;
}

.inverseShadow {
  color: black;
  text-shadow: 4px 4px snow, 6px 6px #b0b0b0;
}

.titleShadowUppercase {
  text-shadow: 2px 2px snow, 4px 4px black;
  text-transform: uppercase;
}

.inverseShadowUppercase {
  color: black;
  text-shadow: 4px 4px snow, 6px 6px #b0b0b0;
  text-transform: uppercase;
}