.title {
  font-family:"lores-9-minus-narrow";
  font-size: 2.6rem;
  text-align: center;
  text-shadow: 1px 1px white, 2px 2px black, 3px 3px white, 4px 4px black;
  text-transform: lowercase;
}

.titleTwo {
  font-family:"lores-9-minus-narrow";
  font-size: 2.6rem;
  text-align: center;
  text-shadow: 1px 1px white, 2px 2px black, 3px 3px white, 4px 4px black;
  text-transform: lowercase;
  letter-spacing:-0.9rem;
  opacity:0.3;
}

.uppercase {
  text-transform: uppercase;
}

.special {
   font-family: "lores-9-plus-wide", monospace;
    font-size: 2.6rem;
    color:white;
    text-shadow: 1px 1px black, 2px 2px white, 3px 3px black, 4px 4px white, black 5px 5px;
    text-transform: lowercase;
}

.specialTwo {
   font-family: "lores-9-plus-wide", monospace;
    font-size: 2.6rem;
    color:white;
    text-shadow: 1px 1px black, 2px 2px white, 3px 3px black, 4px 4px white, black 5px 5px;
    text-transform: uppercase;
}

.margin {
    display:inline-block;
    margin-left: 15vw;
}

.sectionBreak {
  font-family: "lores-9-plus-wide", monospace;
  font-weight: 700;
  font-size: 4.2rem;
  color: white;
  text-shadow: 3px 4px black, 6px 7px #00ffff, 9px 10px black, 12px 13px #00ffff,
    15px 16px black, 19px 20px 9px #00ffff;
  text-align: center;
}

.compactProse {
  max-width: 45vw;
  margin-left: 12.5vw;
  font-size: 1rem;
  line-height: 1.2rem;
}


@media (max-width: 541px) and (orientation: portrait) {
  .title {
    font-size: 1rem;
  }

  .titleTwo {
    font-size: 1.2rem;
  }
}

@media (max-width: 321px) and (orientation: portrait) {

  .titleTwo {
    font-size: 1.1rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .title {
    font-size: 0.9rem;
  }

  .titleTwo {
    font-size: 1rem;
  }
}