.duskShadow {
  font-size:4rem;
  margin-left:3rem;
  font-style:italic;
  text-shadow:2px 2px snow,
              4px 4px black;
}

.inverse {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.duskShadowUppercase {
  font-size:4rem;
  font-style:italic;
  text-shadow:2px 2px snow,
              4px 4px black;
  text-transform:uppercase;
}

.inverseUppercase {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  text-transform:uppercase;
}

.lineHeight {
  line-height:14vh;
}
