.duskShadow {
  font-size:4rem;
  margin-left:3rem;
  font-style:italic;
  text-shadow:10px 10px  	#E8E8E8;
}

.inverse {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.duskShadowUppercase {
  font-size:4rem;
  font-style:italic;
  text-shadow:3px 3px gainsboro;
  text-transform:uppercase;
}

.inverseUppercase {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
  text-transform:uppercase;
}

.lineHeight {
  line-height:13vh;
}
