.titleShadow {
  display: inline-block;
  margin-top:-11vh;
  font-size: 4rem;
  margin-left: 3rem;
  font-style: italic;
  color: snow;
  text-shadow: 1px 1px black, 3px 3px snow, 5px 5px black, 7px 7px snow, 9px 9px #aaf0d1;
    letter-spacing:1rem;
}

.inverse {
  display: inline-block;
  font-size: 4rem;
  margin-left: 3rem;
  font-style: italic;
  text-shadow: 2px 2px black, 4px 4px snow, 6px 6px black, 8px 8px #aaf0d1;
  text-transform: uppercase;
  transform: skew(11deg, -3.4deg);
}

.titleShadowUppercase {
  color: #aaf0d1;
  text-shadow: 4px 4px snow, 6px 6px black;
  text-transform: uppercase;
}

.inverseShadowUppercase {
  color: snow;
  text-shadow: 1px 1px black, 3px 3px snow, 5px 5px black, 7px 7px snow, 9px 9px #aaf0d1;
  text-transform: uppercase;
}

.alternateTitleColor {
  font-family: "bickham-script-pro-3", sans-serif;
  font-size: 6.3rem;
  color: black;
  text-shadow: 4px 4px snow, 8px 8px gainsboro;
}

.alternateTitleColorUppercase {
  font-family: "bickham-script-pro-3", sans-serif;
  font-size: 6.3rem;
  color: black;
  text-transform: uppercase;
  text-shadow: 4px 4px snow, 8px 8px gainsboro;
}

.hyphenBlack {
  font-size: 3.3rem;
  color: black;
  text-shadow: 4px 4px snow, 8px 8px gainsboro;
}

.skewRight {
  display: inline-block;
  transform: skew(-39deg, 4.4deg);
}

.authorName {
  font-size: 5.5rem;
  font-family: "bickham-script-pro-3", sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: -0.02rem;
  line-height: 0.8em;
  margin: 1vh 0 7vh 7vw;
}

.nameSpacing {
  letter-spacing: -0.3rem;
}

.uppercase {
  text-transform: uppercase;
}

.ellipses {
  letter-spacing: 3rem;
}

.ellipses {
  display: inline-block;
  margin-left: 0.9rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 5%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  flex: 2;
}

.columnOne {
  width: 50vw;
}

.columnTwo {
  font-size: 1rem;
  line-height: 1.2rem;
}

@media (max-width: 933px) and (orientation: landscape) {
  .titleShadow {
    margin-right: 12vw;
    font-size: 3.7rem;
    letter-spacing: 0.4rem;
  }
}

@media (max-width: 913px) and (orientation: portrait) {
  .titleShadow {
    letter-spacing: 1rem;
  }
}

@media (max-width: 541px) and (orientation: portrait) {
  .titleShadow {
    margin-right: 13vw;
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
  }

  .alternateTitleColorUppercase {
    font-size: 4.3rem;
  }

  .authorName {
    font-size: 3.6rem;
  }
}

@media (max-width: 361px) and (orientation: portrait) {
  .titleShadow {
    margin-right: 7vw;
  }
}

@media (max-width: 321px) and (orientation: portrait) {
  .titleShadow {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }

  .authorName {
    font-size: 3.3rem;
  }
}

@media (max-width: 281px) and (orientation: portrait) {
  .titleShadow {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }

  .authorName {
    font-size: 2.8rem;
  }
}
