.titleShadow {
  font-size:3.3rem;
  text-shadow:2px 2px snow,
              4px 4px black;
              text-transform:uppercase;
}

.titleShadowAlternate {
  font-size:3.3rem;
  text-shadow:2px 2px snow,
              4px 4px black,
              6px 6px snow,
              8px 8px #b0b0b0;
              text-transform:lowercase;
}

.inverseShadow {
  font-size:4.1rem;
  color:black;
  text-shadow:4px 4px snow,
              5px 5px black,
              6px 6px #b0b0b0;
}

.left {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:1.5rem;
  text-shadow:1px 1px snow, 2px 2px #b0b0b0;
  text-align:left;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-left:6vw;
}

.alternateVoiceOne {
 font-size:1.1rem;
 line-height:0.8em;
 text-shadow:1px 1px snow, 2px 2px #b0b0b0;
}

.alternateVoiceTwo {
 font-size:1.3rem;
 line-height:1.1em;
 text-shadow:1px 1px snow, 2px 2px #b0b0b0;
}

.right {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:1.5rem;
  text-shadow:1px 1px snow, 2px 2px #b0b0b0;
  text-align:right;
  letter-spacing:-0.02rem;
  line-height:1.4em;
  margin-right:6vw;
}

@media (max-width:413px) and (orientation:portrait) {

  .inverseShadow {
    font-size:3rem;
  }

  .left, .alternateVoiceOne, .alternateVoiceTwo, .right {
    margin-left:2vw;
    margin-right:2vw;
  }
}

@media (max-width:391px) and (orientation:portrait) {

.titleShadowAlternate {
  font-size:2rem;
}

  .left, .alternateVoiceOne, .alternateVoiceTwo, .right {
    margin-left:1vw;
    margin-right:1vw;
  }

  .left, .right  {
    font-size:1.3rem;
  }

  .alternateVoiceOne {
   font-size:0.9rem;
  }

  .alternateVoiceTwo {
   font-size:1.1rem;
  }

}

@media (max-width:281px) and (orientation:portrait) {

   .inverseShadow {
     font-size:2rem;
   }

  .left, .right  {
    font-size:1.1rem;
  }

  .alternateVoiceOne {
   font-size:0.7rem;
  }

  .alternateVoiceTwo {
   font-size:0.9rem;
  }

}
