.container {
  display:grid;
  place-items: center;
  margin-bottom:6%;
}

.carousel {
  position:relative;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  width:50%;
  height:70vh;
  margin:6% 0 6% 0;
  box-shadow: 20px 12px 5px #e2e2e2;

}

.carousel > .prev {
  position:absolute;
  z-index: 1;
  top:80%;
  left:-3%;
  flex:5%;
  height:5%;
  display:grid;
  place-items:center;
  color:black;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 3px snow,
                4px 6px dimgray;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.3;
}

.carousel > .next {
  position:absolute;
  z-index:1;
  top:-5%;
  right:-3%;
  flex:5%;
  height:20%;
  display:grid;
  place-items:center;
  color:black;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 2px snow,
                 4px 4px dimgray;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.2;
}

.prev:hover {
  font-size:4.2rem;
  color:dimgray;
  text-shadow:2px 3px snow,
             5px 5px black;
}

.next:hover {
  font-size:4.2rem;
  color:dimgray;
  text-shadow:3px 3px black;
}


.blackShadow {
  color:black;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}

.grayShadow {
  color:gainsboro;
  text-shadow:2px 2px black,
              4px 4px #b0b0b0;
  text-transform: uppercase;
  letter-spacing:1.4rem;
  line-height:5.4rem;
}

.alternateShadow {
  color:#b0b0b0;
  text-shadow:4px 4px snow,
              6px 6px #2cbae7;
}

.blueLetter {
  color:#2cbae7;
  text-shadow:4px 4px snow,
              6px 6px #b0b0b0;
}
