.container {
  display:grid;
  place-items: center;
  margin-bottom:6%;
}

.carousel {
  position:relative;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  width:90%;
  height:100vh;
  margin:6% 0 6% 0;
  background:linear-gradient(snow 10%, gainsboro 25%, snow 35%,
    gainsboro 71%, #090909 75%, gainsboro 88%, snow 94%);
  border-radius:30px;
  box-shadow: 20px 10px 5px #e2e2e2;
}

.carousel > .prev {
  position:absolute;
  z-index: 1;
  top:50%;
  left:-3%;
  flex:5%;
  height:5%;
  display:grid;
  place-items:center;
  color:#b0b0b0;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 2px black;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.7;
}

.carousel > .next {
  position:absolute;
  z-index:1;
  top:50%;
  right:-3%;
  flex:5%;
  height:5%;
  display:grid;
  place-items:center;
  font-size:4rem;
  font-weight:700;
  text-shadow: 2px 2px #b0b0b0;
  letter-spacing:0.2rem;
  cursor:pointer;
  opacity:0.5;
}

.prev:hover {
  font-size:4.2rem;
  color:black;
  text-shadow:3px 3px #b0b0b0;
}

.next:hover {
  font-size:4.2rem;
  color:#b0b0b0;
  text-shadow:3px 3px black;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #b0b0b0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.grayShadow {
  text-shadow:1px 1px #b0b0b0;
}

.blackShadow {
  text-shadow:1px 1px black;
}
